@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix-tvochl') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-freelance:before {
    content: "\e600";
}
.icon-full-time:before {
    content: "\e601";
}
.icon-part-time:before {
    content: "\e602";
}


html{height: 100%;}

body{background-color: #f3eee9 !important; height: 100%; font-size:14px !important}
.container {width:100%}

*{font-family: 'Source Sans Pro', sans-serif;}

h1{font-size:44px; font-weight: 200;margin:2.1rem 0 0 0}
h3{line-height: 3.212rem}

header{background:url('../images/top-image.jpg') no-repeat center center; background-size:cover; height:475px;position:relative}
header h1{color:white;font-size:32px;text-align:center; line-height:50px; margin:80px auto;max-width:56%}
header ul.header_buttons{margin:0 auto; width:30%;text-align:center}
header ul.header_buttons li{display:inline-block; margin-right:30px}
header ul.header_buttons li a{padding:5px 30px;height:auto}
header ul.header_buttons li:last-child{margin-right:0}
header ul.header_buttons li:last-child a{background-color:transparent;border:2px solid #49a8ae}

header nav.header-nav{background:none; box-shadow:none}
header nav.header-nav ul li{padding:0 5px 0 0; display:inline-block;vertical-align: middle; height:43px}
header nav.header-nav ul li:hover, nav ul li.active{background-color:transparent}

header .user-nav{position: absolute;right: 30px; top: 53px; display: none}
header .user-nav ul li{width:238px;height:57px;background-color:white;padding:15px;line-height: 30px;margin:2px 0}
header .user-nav ul li:hover{background-color:#6ea6ac}
header .user-nav ul li:hover a{color:white;}
header .user-nav ul li:first-child{border-radius: 5px 5px 0 0;position: relative;}
header .user-nav ul li:first-child:hover:after{border-color: rgba(110,166,172,0);border-bottom-color: #6ea6ac;}
header .user-nav ul li:first-child:after {bottom: 100%;left: 74%;border: solid transparent; content: " "; height: 0; width: 0; position: absolute;pointer-events: none; border-color: rgba(255, 255, 255, 0);border-bottom-color: #ffffff; border-width: 7px; margin-left: -10px;}
header .user-nav.company ul li:first-child:after {left:15%}
header .user-nav ul li:last-child{border-radius:0 0 5px 5px}
header .user-nav ul li a{color:#918e8c;font-size:17px;font-weight: 200}
header .user-nav ul li a i{width:10px;padding-right:25px}

header.mini{-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
header.mini{height:81px; padding-top:10px;position: fixed;width: 100%; top: 0;z-index:99}
header.mini h1{display:none}
header.mini ul.header_buttons{display:none}
header.mini .filter-box{width:60%;margin:0 20%;z-index:100;background-color:transparent}
header.mini section.top-menu{z-index:90;position:relative;margin-top: 2px;}

header.mini2{position:fixed;height:72px;z-index:99;top:0;width:100%;-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);}
header.mini2 h1,header.mini3 h1{display:none}
header.mini2 .header_buttons,header.mini3 .header_buttons{display:none}
header.mini3{position:fixed;height:152px;z-index:99;top:0;width:100%;-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);}



.btn{text-transform:none; height:43px;  line-height: 42px;background-color:#49a8ae;font-size:15px}
.btn.brown{background-color: #91877d !important}
.btn.red{background-color: #f1343b !important}
.btn.blue{background-color:#6ea6ac !important;font-weight: bold}
.btn.darkblue{background-color:#006faa !important}
.btn.draft{background-color:#918e8c;color:white}

.fa-drive{background-image:url('../images/googledrive-icon.png');  width: 19px; height: 16px; top: 3px; position: relative;}

.alignVertical{position: relative; top: 50%; transform: translateY(-50%);}

.radius10{border-radius: 10px}
.radius5{border-radius: 5px}
.no-radius{border-radius: 0 !important}
.no-shadow{box-shadow:none;-webkit-box-shadow:none}
.btnSpecialHeight{height:46px}
.padding3rm{padding:0 3rem !important}
.padding8rm{padding:0 8rem}
.margin45{margin:4px 5px}
.noActive{background-color:transparent !important;border:1px solid rgba(47,47,47,0.25);color:rgba(47,47,47,0.5);font-weight: bold}
.card{  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.02);}
.divider.max-width{position: relative; width: 100vw; left: calc(-50vw + 50%); }
.float-left{float:left;}
.clear{clear:both}
.width140{width:192px !important}
.width232{width:232px !important}
.no-border{border:none !important}

.margin-top-bottom-50{margin:50px 0}


a.tooltips {
    position: relative;
    display: inline;
}
a.tooltips span {
    position: absolute;
    width:300px;
    color: #918E8C;
    background: #EBEBEB;
    height: 52px;
    line-height: 52px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #EBEBEB;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a.tooltips.align-left span:after{left: 10%;}
a.tooltips.align-middleleft span:after{left: 38%;}
a.tooltips.align-middleright span:after{left: 63%;}
a.tooltips.align-right span:after{left: 90%;}

a.tooltips.align-middleleft span{margin-left:-154px !important}
a.tooltips.align-middleright span{margin-left:-180px !important; left:0 !important}
a.tooltips.align-right span{margin-left:-263px !important; left:0 !important}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    top: 40px;
    left: 52px;
    margin-left: -76px;
    z-index: 999;
}

.file-icon {
    height             : 24px;
    width              : 18px;
    background         : #fff;
    background         : -moz-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background         : -webkit-gradient(linear, left bottom, right top, color-stop(77%, #fff), color-stop(80%, #fff), color-stop(84%, #f2f2f2));
    background         : -webkit-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background         : -o-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background         : -ms-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background         : linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1);
    margin             : 0 10px;
    position           : relative;
    -webkit-box-shadow : 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    -moz-box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    box-shadow         : 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    float              : left
}

.file-icon:before {
    content            : "";
    position           : absolute;
    height             : 10px;
    width              : 24px;
    top                : 9px;
    left               : 4px;
    -webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow    : 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.3)
}

.file-icon:after {
    position               : absolute;
    height                 : 6px;
    width                  : 18px;
    top                    : 9px;
    left                   : 6px;
    color                  : #fff;
    -webkit-font-smoothing : anti-aliased;
    -moz-font-smoothing    : anti-aliased;
    font-smoothing         : anti-aliased;
    font                   : bold 8px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-transform         : uppercase;
    letter-spacing         : 1px
}

.file-icon.file:before {
    background : #ccc
}

.file-icon.file:after {
    content : "file"
}

.file-icon.pdf:before {
    background : #ff1900
}

.file-icon.pdf:after {
    content : "PDF"
}

.file-icon.doc:before {
    background : #08c
}

.file-icon.doc:after {
    content : "DOC"
}

.file-icon.xls:before {
    background : #00b234
}

.file-icon.xls:after {
    content : "XLS"
}

.file-icon.zip:before {
    background : #c2ba1d
}

.file-icon.zip:after {
    content : "ZIP"
}

.file-icon.vid:before {
    background : #000
}

.file-icon.vid:after {
    content : "VID"
}

.file-icon.img:before {
    background : #f1e9d0
}

.file-icon.img:after {
    content : "IMG";
    color   : #000
}

.file-icon {
    margin-right: 30px;
}
hr {
    margin:40px 0;

}


/*types*/
.light{font-weight:200 !important}
.bold{font-weight:bold}
.regular{font-weight:500}
.type10{font-size:10px !important}
.type12{font-size:12px !important}
.type15{font-size:15px !important}
.type18{font-size:18px !important}
.type20{font-size:20px !important}
.type25{font-size:25px !important}
.type30{font-size:30px !important}
.type35{font-size:35px !important}

/*.row {margin:0 auto 20px auto !important}*/
section.top-menu{-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
section.top-menu{position:fixed;width:100%;z-index:100}


section.top-menu .nav-wrapper .brand-logo{ padding:10px 0 0 20px;}
section.top-menu .nav-wrapper .brand-logo img{width:112px; -webkit-filter: drop-shadow( -2px -2px 2px #000 ); filter: drop-shadow( -2px -2px 2px #000 ); }

.filter-box{padding:20px 0;margin:0 auto; background-color:rgba(0,0,0,0.5); position:absolute; bottom:0; width:100%; text-align: center; height:81px }
.filter-box form{/*margin:3px 0 0 -100px;*/width:100%;padding-right: 100px;display: inline-block;vertical-align: middle;padding-top:2px}
.filter-box form *{display:inline-block;vertical-align: top}
.filter-box form input, .filter-box form select {/*width:268px;*/width:18%; height:42px;  box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;  padding:0 11px;color:#8d9294;font-size:15px;font-weight: 200}
.filter-box form input{background-color:white;margin:0}
.filter-box form select{background-color: white;}
.filter-box form a{width:42px;text-align: center;padding:0;height:42px;line-height: 42px;}

.filter-box form>*{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.filter-box form>*:first-child{-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;-ms-border-radius:2px 0 0 2px;-o-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}
.filter-box form>*:last-child{-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;-ms-border-radius:0 2px 2px 0;-o-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;}





.container{margin-top:60px}
.container.no-margin{margin-top:0}
.container .row .col.remove-padding{padding:0 0.75rem 0 0}
.container .card.medium{width: 23%; height:394px;text-align: center;padding:0; color:white; margin-right:26px; transition:.2s ease-out; background-color: #f8f4f1;}
.container.home .card.medium:nth-of-type(4n){margin-right:0}
.container.search .card.medium:nth-of-type(4n){margin-right:0}
.container .cards.similarJobs .card:nth-of-type(4n){margin-right:0}


/* MAIN CARDS */
.container .card.medium.jobCard{cursor:pointer}
.container .card.medium.jobCard:hover .card-actions ul a:first-of-type li{color:#6ea6ac;border-color:#6ea6ac}

.container .card.medium .top-content{padding:15px; background-color:#49a8ae; min-height:210px}
.container .card.medium .top-content .location {color:white;float: left; width: 49%; text-align: left; min-height:30px}
.container .card.medium .top-content .location i{line-height: inherit; vertical-align: bottom; font-size:14px}
.container .card.medium .top-content .featured{float: right; width: 30%; text-align: right;color:white;position: relative; z-index: 30;}
.container .card.medium .top-content .featured i{color:yellow}
.container .card.medium .top-content h2{font-size: 25px; font-weight: 200; line-height: 25px; margin:25px 0 0 0; color:white; height:50px}
.container .card.medium .top-content h3{font-size:17px; margin: 8px 0 30px 0; line-height: 17px; color:#E4E6E6; font-weight:300}
.container .card.medium .company-logo{position:relative;z-index:2;margin:-41px 0 20px;}
.container .card.medium .company-logo img{border:5px solid white}
.container .card.medium .bottom-content{color:#787878; font-weight: 200; font-size: 16px; width:80%; margin:0 auto}
.container .card.medium .bottom-content .card-actions {position:relative;z-index:40}
.container .card.medium .bottom-content .card-actions ul a li{width:60px;height:60px;margin:5px;display: inline-block;vertical-align: top;border:1px solid #b5b3b0;border-radius: 50%;color:#b5b3b0;font-size:30px;line-height: 60px;position:relative;z-index:20}
.container .card.medium .bottom-content .card-actions ul a:hover li{color:#6ea6ac;border-color:#6ea6ac}
.container .card.medium .bottom-content .card-actions ul a.selected li i{color:red}

.container .card.medium:hover {transition:.2s ease-out; box-shadow:0 2px 25px 0 rgba(0,0,0,0.36),0 2px 10px 0 rgba(0,0,0,0.32)}
.container .card.medium:hover:after{content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 2px solid white;}
.container .card.medium:hover .bottom-content p{display:none;transition:.2s ease-out}
.container .card.medium:hover .bottom-content .card-actions{display:block !important}

/* VISITED JOBS */
.container .card.medium.visited {background-color:#f6f4f0;}
.container .card.medium.visited .top-content{background-color:#d9e5e3}
.container .card.medium.visited .top-content .location {color:#3e787e}
.container .card.medium.visited .top-content .featured {color:#3e787e}
.container .card.medium.visited .top-content h2{color:rgba(62, 120, 126, 0.5)}
.container .card.medium.visited .top-content h3{color:rgba(42, 64, 67, 0.5)}
.container .card.medium.visited .bottom-content p{color:rgba(120, 120, 120, 0.8)}
.container .card.medium.visited .divider{background-color:rgba(55,131,136,0.5);display:block}
.container .card.medium.visited .company-logo img{filter: gray; filter: grayscale(1); -webkit-filter: grayscale(1);}
.container .card.medium.visited .bottom-content p{color:rgba(120, 120, 120, 0.5)}


.container .card.big .company-description{max-height:250px;}
.container .card.big .company-description .card-top {background-color:#d9e5e3;padding:24px 0 0 50px; position: relative;width:85%;height:auto}
.container .card.big .company-description .card-top .location,
.container .card.big .company-description .card-top .category,
.container .card.big .company-description .card-top .industry{display: inline-block; vertical-align: bottom; margin-right: 20px;}
.container .card.big .company-description .card-top .location a,
.container .card.big .company-description .card-top .category a,
.container .card.big .company-description .card-top .industry a{color:#324d50}
.container .card.big .company-description .card-top .location a i,
.container .card.big .company-description .card-top .category a i,
.container .card.big .company-description .card-top .industry a i{font-size:18px;top: 3px; position: relative;vertical-align: bottom;line-height: inherit;}
.container .card.big .company-description .card-top h2{color:#568a90;font-size:34px; margin:20px 0;font-weight: 300;line-height:36px;max-width:647px}
.container .card.big.logged .company-description .card-top h2{width:585px}
.container .card.big .company-description .card-top h3{color:#2a4043;font-size:19px; margin:10px 0 0 0;font-weight:300;line-height:43px}
.container .card.big .company-description .company-logo {position:absolute;top: 42%; margin-top: -60px;right: 8%;}
.container .card.big .company-description .company-logo img{border:5px solid white}
.container .card.big .company-description .card-bottom{background-color:#f6f4f0;height:100%;padding:9px 50px;font-family: 'Roboto';font-weight: 300;color:#928d87}
.container .card.big .company-description .card-bottom a span{margin-right:10px;color:#928d87}
.container .card.big .company-description .card-bottom a span:after{content:'\00a0\00a0 • \00a0\00a0';position:relative;right:-8px}
.container .card.big .company-description .card-bottom a span:last-child:after{content:''}

.container .card.big .job-content,
.container .card.big .the-candidate,
.container .card.big .the-company{background-color:#f6f4f0;padding:30px 50px}
.container .card.big .job-content h2,
.container .card.big .the-candidate h2,
.container .card.big .the-company h2{font-size:32px;color:#6ea6ac;font-weight:600}
.container .card.big .job-content p,
.container .card.big .the-candidate p,
.container .card.big .the-company p{font-size:17px;color:rgba(0,0,0,0.5);font-weight: 300;}

.container .btn-favourite, .container .btn-share, .container .btn-subscribe{width:180px;height:43px;border:1px solid #9e9e9e;display:inline-block;margin:7px 34px 10px 0;border-radius: 5px;color:#9e9e9e;font-size:15px;padding:10px 20px;font-weight: 400;}
.container .btn-share{margin-right:0}
.container .btn-favourite i, .container .btn-share i, .container .btn-subscribe i{margin-right:30px}

.container .btn-favourite:hover, .container .btn-share:hover, .container .btn-subscribe:hover{color:#6ea6ac;border-color:#6ea6ac}
.container .btn-favourite.selected, .container .btn-share.selected, .container .btn-subscribe.selected{background-color:white;}
.container .btn-favourite.selected i, .container .btn-share.selected i, .container .btn-subscribe.selected i{color:red}

.container .card.the-applicant{background-color:white;padding:36px 40px}
.container .card.the-applicant .divider{margin:20px 0}
.container .card.the-applicant h3{color:#568a90;font-weight: 500;font-size:30px;margin:0 0 15px 0}
.container .card.the-applicant span.user-name{color:#736e68;font-size:24px;font-weight:300;display:block}
.container .card.the-applicant span.user-email{color:#736e68;font-size:18px;font-weight: 300;display: block}
.container .card.the-applicant span.user-email i{margin-right:8px}
.container .card.the-applicant textarea{border:1px solid rgba(0,0,0,0.1);padding:10px;border-radius: 5px;resize:none; overflow: hidden; margin-top:10px;margin-bottom:10px}
.container .card.the-applicant .upload-content,
.container .card.the-applicant .uploaded-content{margin-top:10px}
.container .card.the-applicant .upload-content span,
.container .card.the-applicant .uploaded-content span{color:rgba(47,47,47,.5)}
.container .card.the-applicant .upload-content ul li{display:inline-block;width:57px;height:42px;border-radius: 5px;background-color:#ccc8c4; text-align: center;line-height: 40px;margin-right:19px}
.container .card.the-applicant .upload-content ul li:last-child{margin-right:0}
.container .card.the-applicant .upload-content ul li a{color:#736e68;}
.container .card.the-applicant .uploaded-content ul li{color:#736e68;font-size:18px;margin-bottom:5px;font-weight: 300}
.container .card.the-applicant .uploaded-content ul li a:first-of-type{position:absolute;right:62px;color:black}
.container .card.the-applicant .uploaded-content ul li a:last-of-type{color:red; position:absolute;right:38px}
.container .card.the-applicant [type="checkbox"]+label{display:block;margin-bottom:10px;font-size: 14px;font-family: 'Roboto';font-weight: 300}
.container .card.the-applicant [type="checkbox"]:not(:checked)+label:before{border:1px solid #ccc8c4;border-radius: 5px}
.container .card.the-applicant .btn{width:100%;background-color: #d0373d;border-radius: 3px;}


.container.profile .row .col.s3, .container.company_profile .row .col.s3{width:24%}
.container.profile .row .col.s9, .container.company_profile .row .col.s9{width:76%}
.container.profile .card.medium:nth-of-type(3n), .container.company_profile .card.medium:nth-of-type(3n){margin-right:0}

.container.profile .user-name, .container.company_profile .user-name {margin-bottom:20px}
.container.profile .user-name img, .container.company_profile .user-name img{display:inline-block;vertical-align: middle; width:25%;margin-right: 10px}
.container.profile .user-name h1, .container.company_profile .user-name h1{display:inline-block;vertical-align: middle; width:70%; font-size:28px;margin:0;line-height: 30px}
.container.profile .user-menu ul li:first-child, .container.company_ .user-menu ul li:first-child{border-top:1px solid #e0e0e0}
.container.profile .user-menu ul li, .container.company_profile .user-menu ul li  {height: 58px;line-height: 56px;font-size: 17px; border-bottom: 1px solid #e0e0e0}
.container.profile .user-menu ul li a, .container.company_profile .user-menu ul li a{color:#2f2f2f; font-weight: 500}
.container.profile .user-menu ul li a:hover, .container.company_profile .user-menu ul li a:hover{color:#6ea6ac}
.container.profile .user-menu ul li a.active, .container.company_profile .user-menu ul li a.active{color:#6ea6ac}

.container.profile .attached-files{float:right; width:95%}
.container.profile .attached-files ul li{background-color:#f6f4f0; height:83px}
.container.profile .attached-files ul li .file-type{width:10%; display: inline-block;height:100%; line-height: 80px; font-size:30px}
.container.profile .attached-files ul li .file-type.icons{padding:24px 0 0 24px}
.container.profile .attached-files ul li h1{width:67%; display: inline-block; padding:0 20px; margin:0; height:83px; line-height: 80px; font-size:20px; font-weight: 200;vertical-align:top}
.container.profile .attached-files ul li h1 a{color:black}
.container.profile .attached-files ul li .actions{width:22%; display: inline-block; vertical-align: top;height: 100%;}
.container.profile .attached-files ul li .actions a{color:black;padding: 0 40px; border-left:2px solid #f3eee9; height: 83px;  display: inline-block; line-height: 80px}
.container.profile .attached-files ul li .actions a:hover, .container.profile .attached-files ul li .actions a.selected{color:#6ea6ac}

.container.profile .attached-files ul li.addFile .file-type{background-color:#ece2d8; color:#cdc8c3;}
.container.profile .attached-files ul li.addFile h1{color:rgba(60,60,59,0.5)}

.container.profile .preferencesForm label.head{font-size:25px}



.container.company_profile .searchBar{ width:100%; background-color: white;  height: 57px;border-radius: 5px}
.container.company_profile .searchBar select, .container.company_profile .searchBar input{width:30%; height:57px;display:inline-block; border:none;}
.container.company_profile .searchBar a{color:black;  float: right; padding: 14px 20px; font-size: 22px;}
.container.company_profile .manage_job{width: 31.5% !important;}
.container.company_profile .manage_job:hover{border:1px solid #6ea6ac;background-color: #f6f4f0}


.container.company_profile .manage_job.featured .location a{color:#3e787e}
.container.company_profile .manage_job:hover .top-content,
.container.company_profile .manage_job:hover .bottom-content,
.container.company_profile .manage_job:hover .company-logo{display:none}
.container.company_profile .manage_job:hover .card-actions{display:block !important;z-index:100;position:relative}

.container.postShow .job-view.card-actions ul{  padding-left: 55px;}
.container.postShow .job-view.card-actions ul li {height:40px;margin-bottom:15px; text-align:left}
.container.postShow .job-view.card-actions ul li.active a{color:#6ea6ac}
.container.postShow .job-view.card-actions ul li.active i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.container.postShow .job-view.card-actions ul li:hover a{color:#6ea6ac}
.container.postShow .job-view.card-actions ul li:hover i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.container.postShow .job-view.card-actions ul li a{color:#8a8886; font-size:20px; font-weight: 200; margin-left:5px}
.container.postShow .job-view.card-actions ul li i{color:#8a8886; font-size:20px; padding:9px 0px 5px 10px; border: 1px solid #8a8886;height: 40px;width: 40px; margin-right:7px}
.container.postShow .job-view.card-actions ul.bottom{margin-top: 26px;background-color: #eeece8;  padding-top: 26px; padding-bottom: 16px;}



.container.company_profile .manage_job .card-actions ul{  padding-left: 55px;}
.container.company_profile .manage_job .card-actions ul li {height:40px;margin-bottom:15px; text-align:left}
.container.company_profile .manage_job .card-actions ul li.active a{color:#6ea6ac}
.container.company_profile .manage_job .card-actions ul li.active i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.container.company_profile .manage_job .card-actions ul li:hover a{color:#6ea6ac}
.container.company_profile .manage_job .card-actions ul li:hover i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.container.company_profile .manage_job .card-actions ul li a{color:#8a8886; font-size:20px; font-weight: 200; margin-left:5px}
.container.company_profile .manage_job .card-actions ul li i{color:#8a8886; font-size:20px; padding:9px 0px 5px 10px; border: 1px solid #8a8886;height: 40px;width: 40px; margin-right:7px}
.container.company_profile .manage_job .card-actions ul.bottom{margin-top: 26px;background-color: #eeece8;  padding-top: 26px; padding-bottom: 16px;}


.container.company_profile .analytic{width:48%;height:493px;background-color: white;border-radius: 5px;display:inline-block;margin-right:30px}
.container.company_profile .analytic.big{width:100%;}
.container.company_profile .analytic:last-child{margin:0;}
.container.company_profile .analytic .header{height:52px;background-color: #f5f5f5;}
.container.company_profile .analytic .header h1{margin:0;font-size: 20px;color:#656878;padding-left:10px;line-height:50px}
.container.company_profile .analytic .body{}
.container.company_profile .analytic .body .canvas{display: inline-block;padding:10px}
.container.company_profile .analytic .body .canvas h1{margin:0;font-size: 25px;color:#656878;padding-left:10px;line-height:50px}
.container.company_profile .analytic .body .details{display:inline-block; width:152px;vertical-align: top}
.container.company_profile .analytic .body .details ul{margin:0}
.container.company_profile .analytic .body .details ul li{width:100%;height:164px;margin-bottom:1px;background-color: #f6f4f0;text-align: center;padding-top:50px}
.container.company_profile .analytic .body .details ul li span{font-size:16px;display:block;line-height: 12px}
.container.company_profile .analytic .body .details ul li strong{font-size:25px;display:block}
.container.company_profile .analytic .body .details ul li.totals span,.container.company_profile .analytic .body .details ul li.totals strong{color:#848693}
.container.company_profile .analytic .body .details ul li.views span,.container.company_profile .analytic .body .details ul li.views strong{color:#6ea6ac}
.container.company_profile .analytic .body .details ul li.apps span,.container.company_profile .analytic .body .details ul li.apps strong{color:#d24046}

.container.company_profile .billing_info .collection{border:0}
.container.company_profile .billing_info .collection li{margin:10px 0}
.container.company_profile .billing_info .collection li .secondary-content{margin:0 10px}
.container.company_profile .billing_info .collection li .hiddenInfo{margin-top: 25px; background-color: rgba(177, 206, 174, 0.13);padding: 20px;}
.container.company_profile .billing_info .hiddenInfo{margin-top: 25px; background-color: white;padding: 20px;}


.container.search{margin-top:20px}
.container.search .divider{margin-bottom:30px}
.container.search .search-term h1{margin:0;font-size:32px; color:#3f3f3f;font-weight: 200;display:inline-block; vertical-align: middle}
.container.search .search-term span.search-results{font-weight: 200; font-style: italic; font-size: 16px; color:white; margin-left:10px; background-color:#6ea6ac; border-radius:20px;padding: 3px 14px; box-sizing: content-box; display:inline-block; vertical-align: middle}



.container.login,
.container.register,
.container.forgot {margin: 0;background-image: url('../images/login-background.jpg');width: 100%;height: 100%;position: relative;min-height: 100%;	padding: 0;	max-width: 100%;overflow:hidden}
.container.login .header,
.container.login .register{position:relative;top:10%}
.container.login .header .logo,
.container.forgot .header .logo { background-image: url('../images/logo.svg');  -webkit-filter: drop-shadow( -2px -2px 2px #000 ); filter:drop-shadow( -2px -2px 2px #000 ); width: 168px; height: 52px;  margin: 0 auto 15px auto;}
.container.login h1 {margin:0; font-size: 25px; font-weight: 400; color: #fff;text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.33);  line-height: 25px;}
.container.login h2,
.container.register h2 {margin:0; font-size: 16px; color: #fff;text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.33);  line-height: 16px;}
.container.login .forms,
.container.register .forms,
.container.forgot .forms{position:relative; top:15%;margin: 0 auto; width: /*686px;*/48%}
.container.login .login-form,
.container.login .register {width: 338px; height: 462px; border: 1px solid #fff; border-radius: 5px; margin-right: 5px; padding:58px 55px 49px 53px }
.container.login .register {background-color: #fff;}
.container.login .login-form a.forgot{color:white; font-weight: 500; font-size:14px;margin:5px}
.container.login .login-form button{margin-top:30px}
.container.login .register a{margin-top:55px}
.container.login .login-form h1,
.container.login .register h1,
.container .login-form h1,
.container .register h1 { font-size: 30px; font-weight: 600;text-shadow:none;text-align: center }

.container.register h2 {font-size:25px;display:inline-block; vertical-align: middle; margin-left:5%}
.container.register a.back{display:inline-block; vertical-align: middle;margin-left:2%; color:white; border:1px solid white; border-radius: 5px; padding:5px 10px;}
.container.register .candidates,
.container.register .recruiters {width: 338px; height: 415px; border-radius: 5px; margin-right: 5px; padding:20px 55px 49px 53px; background-color:white}
.container.register .candidates h1, .container.register .recruiters h1{margin:0; font-weight: 600; font-size:30px}
.container.register .candidates h1{color:#6ea6ac}
.container.register .recruiters h1{color:#d0373d}
.container.register .candidates p, .container.register .recruiters p{color:#2f2f2f;font-size:17px;font-weight:300}
.container.register .candidates ul, .container.register .recruiters ul {list-style-position:inside; margin:30px 0px}
.container.register .candidates ul{list-style-image: url('../images/icon-check-mark.png'); }
.container.register .recruiters ul{list-style-image: url('../images/icon-check-mark-red.png'); }
.container.register .candidates ul li, .container.register .recruiters ul li{color:#2f2f2f;font-size:17px;  margin-bottom: 7px;}


.container.forgot .row .card{background-color: transparent; width:338px;height:331px; margin:0 auto; text-align:center; border:1px solid white; border-radius: 5px}
.container.forgot .row .card h2{font-size: 25px;color: white;  text-shadow: none; font-weight: 600;margin-bottom:0px}
.container.forgot .row .card p{color:white;font-size:16px;margin-top:0px}
.container.forgot .row .card input{width:232px;height:46px;background-color:white;border-radius:5px;padding:0 0 0 16px;box-sizing: border-box;margin:5px}

.container.login .login-form h1, .container .login-form h1 {color: #fff;margin-bottom:20px}
.container.login .login-form .separador, .container .login-form .separador{color:white;  margin: 20px auto; width: 83px;}
.container.login .login-form .separador hr,.container .login-form .separador hr {width:20px;display:inline-block;vertical-align: middle;margin:0 5px}
.container.login .login-form form a, .container .login-form form a{font-weight:300;font-size:15px}
.container.login .login-form form input, .container .login-form form input{width:232px;height:46px;background-color:white;border-radius:5px;padding:0 0 0 16px;box-sizing: border-box;margin:5px}
.container.login .register h1, .container .register h1{color:#2e2e2e}
.container.login .register p, .container .register p{color:#2f2f2f;font-size:17px;font-weight:300}
.container.login .register ul, .container .register ul {list-style-image: url('../images/icon-check-mark.png'); list-style-position:inside; margin:30px 0px}
.container.login .register ul li, .container .register ul li{color:#2f2f2f;font-size:17px;  margin-bottom: 7px;}

.container.register.create .row{margin-bottom:0}
.container.register.create .forms{width:344px}
.container.register.create ul.tab li{display: inline-block; width: 167px; margin-right: 5px; background-color: #717171; height: 57px; border-radius: 5px 5px 0 0;}
.container.register.create ul.tab li.active{ background-color: white;}
.container.register.create ul.tab li a{font-size: 20px; color: white; line-height: 57px; text-align: center; display: block; margin: 0px; padding: 0px; font-weight: 600}
.container.register.create ul.tab li.active a{color:#6ea6ac}

.container.register.create #candidates, .container.register.create #recruiters{background-color:white;width: 339px;height: 420px; border-radius: 0 5px 5px 5px; display:none}
.container.register.create #candidates.active, .container.register.create #recruiters.active{display:block;}
.container.register.create .create-form{width: 338px; height: 462px; border: 1px solid #fff; border-radius: 5px; margin-right: 5px; padding:58px 55px 49px 53px; }
.container.register.create .create-form button{margin-top:30px}
.container.register.create .create-form .separador{color:#bfbfbf;  margin: 20px auto; width: 83px;}
.container.register.create .create-form .separador hr {width:20px;display:inline-block;vertical-align: middle;margin:0 5px}
.container.register.create .create-form form a{font-weight:300;font-size:15px}
.container.register.create .create-form form input{width:232px;height:46px;background-color:white;border-radius:5px;padding:0 0 0 16px;box-sizing: border-box;margin:2px; border:1px solid rgba(0,0,0,0.3)}

.container.register.success .row h2{margin:0 auto;width: 211px; display: block;font-size:30px;line-height: 28px;text-align: center;}
.container.register.success img.circle{margin:0 auto;width:150px;display:block;  position: relative;bottom: -68px; z-index: 2;}
.container.register.success .card{width:338px;height:295px;border-radius: 5px;text-align: center; padding-top: 80px;display:block;margin:0 auto}
.container.register.success .card p{width:67%;text-align:center;margin: 10px auto;font-size: 15px;color: #4d4d4d;}
.container.register.success .card a{font-weight:400;text-align:left;position:relative}
.container.register.success .card a i{position:absolute;right:10px;font-size:10px}

.container .card.login-form,
.container .card.apply_unlogged{padding:20px}
.container .card.login-form h1,
.container .card.apply_unlogged h1{color:#2f2f2f; margin:0; font-size:20px; font-weight: 600; text-shadow: none; text-align: center;}
.container .card.login-form a{margin:0 auto; display:block}
.container .card.login-form a.btn.linkedin{width: 25%; text-align: center; margin-left: 13px; padding: 0 10px; display: inline-block}

.container .card.login-form form,
.container .card.apply_unlogged form{width:100%;margin:0 auto}
.container .card.login-form form input,
.container .card.apply_unlogged form input:not([type="file"]):not(.file-path),
.container .card.apply_unlogged form textarea{border:1px solid rgba(133,133,133,0.25); width: 90%; margin: 5px auto; display: block; height: 46px; background-color: white; border-radius: 5px;  padding: 0 0 0 16px;  box-sizing: border-box;}
.container .card.apply_unlogged form textarea{height: 100px; line-height: 40px;}
.container .card.apply_unlogged .file-field{width:90%; margin:10px auto}
.container .card.apply_unlogged form button{width: 90%; margin: 0 auto; display: block;}

.container .card.login-form form button{width:62%}
.container .card .register{padding: 20px; width: 283px; margin: 0 auto;}



.charCounter{position: absolute; top: 4px; right: 13px; color: gray;}

.container form.postAJob .row .col{padding:0; position:relative}
.container form.postAJob span.error{font-size:12px; color:red}
.container form.postAJob input.big-input{background-color:#f6f4f0;height:60px;border:0; padding:10px 0 10px 45px;font-size:38px;color:#474747;font-weight: 300; border-radius:5px;box-sizing: border-box;}
.container form.postAJob input.big-input:focus{height:71px;border: 1px solid #6ea6ac;-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.11); -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.11);    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.11);}
.container form.postAJob input.big-input::-webkit-input-placeholder {font-size:24px;color:#b1afad;line-height: 40px}
.container form.postAJob input.big-input:-moz-placeholder {font-size:24px;color:#b1afad;line-height: 40px}
.container form.postAJob input.big-input::-moz-placeholder {font-size:24px;color:#b1afad;line-height: 40px}
.container form.postAJob input.big-input:-ms-input-placeholder {font-size:24px;color:#b1afad;line-height: 40px}
.container form.postAJob input.big-input.half{width:48.7%;margin-right:15px;font-size:25px}
.container form.postAJob input.big-input.half:nth-of-type(2n){margin-right:0}
.container form.postAJob input.big-input:disabled{color:gray; cursor:not-allowed;}

.container form.postAJob select{background-color: transparent;  outline: none;  font-size: 20px;  font-weight: 200;}

.container form.postAJob input.normal-input{font-weight:300;font-size:25px}
.container form.postAJob input.normal-input::-webkit-input-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob input.normal-input:-moz-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob input.normal-input::-moz-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob input.normal-input:-ms-input-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob input.normal-input.arrows{background:url('../images/arrows.png') no-repeat center right}

.container form.postAJob select.normal-input{font-weight:300;font-size:25px}
.container form.postAJob select.normal-input::-webkit-input-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob select.normal-input:-moz-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob select.normal-input::-moz-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob select.normal-input:-ms-input-placeholder {font-size:20px;color:rgba(47,47,47,0.35);line-height: 30px; font-weight: 200}
.container form.postAJob select.normal-input.arrows{background:url('../images/arrows.png') no-repeat center right}
.container form.postAJob select.normal-input {-webkit-appearance: none; -moz-appearance: none; text-indent: 1px;  text-overflow: '';}
.container form.postAJob select.normal-input:focus{border:none}

.container form.postAJob .box {background-color:#f6f4f0;border-radius:5px;padding:20px 20px 20px 45px !important;  box-sizing: border-box;margin-bottom:15px; position:relative}
.container form.postAJob .box h1{color:#6ea6ac;font-size:25px; font-weight: 200; margin:0; padding:0}
.container form.postAJob .box h2{color:rgba(47,47,47,0.35);font-size:20px; font-weight: 200; margin:0; padding:0}
.container form.postAJob .box h1 .small{color:#808080;font-size:12px;text-transform: uppercase}
.container form.postAJob .box.focused:after {font-family: FontAwesome;content: "\f040"; position: absolute; top: 18px; right: 20px;}
.container form.postAJob .box textarea, .wysiwyg-editor{border:0;resize:none;overflow:hidden;font-size:20px;color:#2f2f2f;min-height:135px;font-weight: 200}
.container form.postAJob .box textarea:focus{border:0;outline:0}
.wysiwyg-editor ul li{list-style-type: inherit;}
.wysiwyg-editor ul{padding-left:25px;list-style-type: inherit;}
.wysiwyg-container{border:none}
.wysiwyg-container.wysiwyg-active{border:none;box-shadow:none;}
.wysiwyg-placeholder{white-space: pre ; display: block; unicode-bidi: embed}
.container form.postAJob .box textarea::-webkit-input-placeholder,.wysiwyg-placeholder {font-size:20px;color:rgba(47,47,47,0.35);font-weight: 200}
.container form.postAJob .box textarea:-moz-placeholder{font-size:20px;color:rgba(47,47,47,0.35);font-weight: 200}
.container form.postAJob .box textarea::-moz-placeholder{font-size:20px;color:rgba(47,47,47,0.35);font-weight: 200}
.container form.postAJob .box textarea:-ms-input-placeholder {font-size:20px;color:rgba(47,47,47,0.35);font-weight: 200}



.container form.postAJob .box .fileInput p{width:221px;margin:0 10px;color:rgba(47,47,47,0.35)}
.container form.postAJob .box .fileInput img,
.container form.postAJob .box .fileInput p,
.container form.postAJob .box .fileInput a {display:inline-block;vertical-align: middle}

.container .box .fileInput #dropzone{z-index:2;width:200px;height:200px;position:absolute}
.container .box .fileInput #dropzone.hover {border: 3px dashed #6EA6AC;background-color: rgba(255,255,255,0.5);color: #6EA6AC;}
.container .box .fileInput #dropzone.hover:after {content: 'Drop Here!'; font-size: 25px;  font-weight: 500; text-align: center; padding-top: 42%;  display: block;  color: #436569;}
.container .box .fileInput #dropzone.dropped {background: #222; border: 10px solid #444;}



.container form.postAJob .row.categories a{  padding: 0 8rem;  height: 46px;  border-radius: 5px; background-color: transparent !important; border: 1px solid rgba(47,47,47,0.25); color: rgba(47,47,47,0.5); font-weight: bold;margin:4px 5px; width:48%  }
.container form.postAJob .row.categories a.active{background-color:#6ea6ac !important;font-weight: bold;color:white;border:none }
.container form.postAJob .box a:hover{box-shadow: none;background-color:#c1d3d2 !important;color:rgba(47,47,47,0.5);border-color:#C1D3D2}

.container form.postAJob .typeOfJob a{height: 46px;  border-radius: 5px; background-color: transparent !important; border: 1px solid rgba(47,47,47,0.25); color: rgba(47,47,47,0.5); font-weight: bold;margin:4px 5px; width:30%}
.container form.postAJob .typeOfJob a.active{background-color:#6ea6ac !important;font-weight: bold;color:white;border:none }
.container form.postAJob .typeOfJob a:hover{box-shadow: none;background-color:#c1d3d2 !important;color:rgba(47,47,47,0.5);border-color:#C1D3D2}

.container form.postAJob .app_by a{height: 46px;  border-radius: 5px; background-color: transparent !important; border: 1px solid rgba(47,47,47,0.25); color: rgba(47,47,47,0.5); font-weight: bold;margin:4px 5px; width:30%}
.container form.postAJob .app_by a.active{background-color:#6ea6ac !important;font-weight: bold;color:white;border:none }
.container form.postAJob .app_by a:hover{box-shadow: none;background-color:#c1d3d2 !important;color:rgba(47,47,47,0.5);border-color:#C1D3D2}

.nav-wrapper .checkout_steps{margin-right:15px}
.nav-wrapper .checkout_steps li strong{font-weight:800}
.nav-wrapper .checkout_steps li{border:1px solid white;border-radius: 50%;height:30px; width:30px;text-align: center; line-height: 28px;padding: 0 10px; margin-top: 16px;margin-right: 10px;}
.nav-wrapper .checkout_steps li a{padding:0;}
.nav-wrapper .checkout_steps li.active{background-color: #f3eee9; padding:0 10px;   width: 106px; border-radius: 20px;}
.nav-wrapper .checkout_steps li.active a{color:black}

.container.selectPlan h1{text-align: center; font-weight: 600;font-size: 62px;margin: 0; padding: 0;}
.container.selectPlan p{font-size: 31px; color: #2f2f2f; font-weight: 200; text-align: center; margin: 0;}
.container.selectPlan .card{height:494px; width:100%}
.container.selectPlan .card .title{width:100%; background-color:#24959d; padding:10px; text-align:center; margin-bottom:20px}
.container.selectPlan .card .title h2{color:white; font-size:25px; text-align: center}
.container.selectPlan .card p{font-size: 15px; color: #2f2f2f; font-weight: 200; text-align: center; margin: 0; height:60%}
.container.selectPlan .card a.btn{position:relative; bottom:10px; margin:0 auto; width: 70%; display: block;}

.container.checkout h1{text-align: center; font-weight: 600;font-size: 62px;margin: 0; padding: 0;}
.container.checkout p{font-size: 31px; color: #2f2f2f; font-weight: 200; text-align: center; margin: 0;}
.container.checkout .card{padding:65px 47px}
.container.checkout .card .left{width: 415px;}
.container.checkout .card .left h1{font-size: 31px;color: #6ea6ac; font-weight: 500; text-align: left; line-height: 31px;}
.container.checkout .card .left p{text-align: left;font-size: 18px; color: #9e9389;}
.container.checkout .card .right .price{font-size: 40px;font-weight: 700; color: #9e9389;}
.container.checkout .card hr{clear: both;border:1px solid #f3eee9;}
.container.checkout .card p.description span.red{color:red;font-weight:700;background-color:transparent !important}
.container.checkout .card p.description{color: #a5a09b;font-size: 18px; line-height: 21px; text-align: left;margin-bottom:20px}
.container.checkout .card .price_featured{color:#9e9389;font-weight:700;font-size:40px}
.container.checkout .card .btn.active{background-color: #6ea6ac;color:white;border:1px solid #6ea6ac}
.container.checkout .card .btn{background-color: transparent; border: 1px solid #9e9389; color: #9e9389; border-radius: 5px;font-weight: 600;margin-right:5px;font-size:18px}
.container.checkout .card .disccount_added{color:#9e9389;font-size:25px;font-weight: 200;text-align: left}
.container.checkout .card .disccount_added .disccount_code{color:#6ea6ac}
.container.checkout .card .disccount_added .right{color:#d0373d;font-size: 30px;font-weight: 700}
.container.checkout .card a.helper{color: #a5a09b;  margin-left: 6px; font-size: 24px;}
.container.checkout .card .btn.redeem{padding: 0 40px; margin: 15px 0}
.container.checkout .card .right.total{color: #9e9389; font-size: 20px; font-weight: 300;}
.container.checkout .card .right.total .price_final{font-size: 40px; color: #6ea6ac; font-weight: 700;}
.container.checkout .card [type="checkbox"]:checked + label{color:red}
.container.checkout .card [type="checkbox"]:checked + label:before{border-bottom:2px solid red;border-right: 2px solid red;}
.container.checkout .card select{margin:10px 0}

.container.checkout .post_amount{float:right}
.container.checkout .post_amount a{border: none !important; box-shadow: none; margin: 0; padding: 0; width: 31px;}
.container.checkout .post_amount input{width: 70px; color:#54514F; height: auto; font-size: 40px; text-align: center; border: none; margin: 0 10px; vertical-align: middle; padding: 0;}
.container.checkout .post_amount input:focus{border:none; box-shadow:none}
.container.checkout_success .firstCol{margin-top:90px}
.container.checkout_success .firstCol h1{font-size:63px;color:#2f2f2f;font-weight: 500;margin:0;padding:0}
.container.checkout_success .firstCol h2{font-size:31px;color:#2f2f2f;font-weight: 200;margin:0 0 20px 0;padding:0;line-height: 31px;}
.container.checkout_success .col.s4 .card{width:80%}


.container.pages h1{margin:0;padding:0}
.container.pages hr{margin:0}
.container.pages p strong{font-weight: bold}

footer .container .row {background-color:#ece2d8; border-radius: 5px; padding:23px 20px 15px;}
footer .container .row a{text-transform: uppercase; color:#2f2f2f; font-size: 14px; font-weight: 300;}
footer .container .row a:after{content:'\00a0\00a0·\00a0\00a0'}
footer .container .row a:last-child:after{content:''}

.autocomplete-suggestions { background: #f6f4f0; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #cccccc; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.preloader-wrapper.active{position:absolute;right:10px;top:10px}

/* MENU */

#main-nav a.user-avatar img{vertical-align: middle;height: 43px; width:43px; float:left;}
#main-nav a.user-avatar hgroup{float: left; width: 79%; margin-left: 20px;}
#main-nav a.user-avatar hgroup h1{font-size: 25px; margin: 0; line-height: 31px; padding: 0;}
#main-nav a.user-avatar hgroup h2{font-size: 13px; font-weight: 200; margin: 0; padding: 0; line-height: 11px;}

#main-nav a.btn_logout{position: absolute; z-index: 30; right: 10px; font-size: 30px !important; top: 11px;}
#main-nav a.btn_logout:hover i{color:red}
#main-nav a.btn_logout i{color:white}



#main-nav {background:#2f2f2f; z-index:100}
#main-nav .mm-listview a{color:white; font-size:17px}
.mm-listview, .mm-listview > li{padding: 3px 0;}
#main-nav .mm-listview > li:hover{background-color:#6ea6ac}
#main-nav .mm-listview > li:hover > a i{color:white}
#main-nav .mm-listview .mm-next:after{content:'+';transform:none;-webkit-transform: none;border:0;  line-height: 5px;font-size: 30px;width: 14px;height: 14px;}
#main-nav .mm-listview > li.mm-opened{background-color:#363636}
#main-nav .mm-listview .mm-opened .mm-panel{margin:0;padding:0}
#main-nav .mm-listview .mm-opened .mm-panel .mm-listview{margin:0;padding:0}
#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li{height:35px;background-color:#363636;}
#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li a{  line-height: 30px; padding: 0px 0px 0px 50px; margin: 0px;font-size:15px;font-family: 'Roboto';font-weight:200}
#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li:after{border:none}
#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li:hover{background-color:#3d3d3d}
.mm-listview > li > a, .mm-listview > li > span{margin:10px 0;font-weight: 300;}
.mm-listview > li:not(.mm-divider):after{left:0}
.mm-listview a i { padding-right: 10px; color: #6ea6ac;}
.collection .collection-item.avatar{height:50px}



/* Enable styles for tinymce */
.the-candidate ul, .job-content ul{list-style:inherit !important; padding: 0 0 0 50px !important; margin:inherit !important}
.the-candidate li, .job-content li{list-style:inherit !important; }
.the-candidate p, .job-content p{font-size:inherit !important; font-weight:inherit !important; color:inherit !important}


/* Tiny MCE */
.mce-panel{border:none !important;}
.mce-toolbar-grp{
    z-index: 20 !important;
    position: absolute !important;
    border: 1px solid #b6b4b2 !important;
    border-radius: 12px !important;
    padding: 8px !important;
    bottom: 0 !important;
    background-color:#fcfbfa !important;
}
.mce-btn{
    border:none !important;
    background-color:transparent !important
}
.mce-btn.mce-active .mce-ico, .mce-btn.mce-active:hover .mce-ico{
    color:#515151 !important
}
.mce-ico{
    color: #848484 !important;
    font-size: 13px !important;
}
.mce-btn button{
    padding: 4px 6px !important;
}

/**/



/* */
@media only screen and (min-width: 1200px){
    html{
        font-size:14px;
    }
}




@media (min-width:480px) {
    .container .card.medium{width:100%}
    header h1{max-width:100%;}
    header .filter-box form{padding-right:0;width:96%}
    header .filter-box form input, header .filter-box form select{width:89%;margin:0 auto}
    header .filter-box form select{display:none}
    header.mini .filter-box form {display:none !important}

}
@media (min-width:600px) {
    header h1{max-width:49%;}
    .container .card.medium{width:47%}
    .container.home .card.medium:nth-of-type(2n){margin-right:0px}
    header .filter-box form{padding-right:0}
    header .filter-box form input, header .filter-box form select{width:90%;margin:0 auto}
    header .filter-box form select{display:none}
    header.mini .filter-box form {display:none !important}

}
@media (min-width:734px) {
    .container .card.medium{width:100%}
}
@media (min-width:801px) {
    .container .card.medium{width:49%}
    .container.home .card.medium:nth-of-type(2n){margin-right:0px}
    /*header .filter-box form *{display:inline-block !important}
    header .filter-box form input, header .filter-box form select{width:31%}
    header .filter-box form{padding-right:0%}
    header.mini .filter-box form {display:none !important}*/
    header .filter-box form{padding-right:0;width:96%}
    header .filter-box form input, header .filter-box form select{width:89%;margin:0 auto}
    header .filter-box form select{display:none}
    header.mini .filter-box form {display:none !important}

}

@media (min-width:1025px) {
    .container .card.medium{width:31%}
    .container.home .card.medium:nth-of-type(2n){margin-right:26px}
    .container.home .card.medium:nth-of-type(3n){margin-right:0px}
    .container.home .card.medium:nth-of-type(4n){margin-right:26px}
    header .filter-box form *{display:inline-block !important}
    header .filter-box form input, header .filter-box form select{width:18%}
    header .filter-box form{padding-right:7%}
    header h1{max-width:47%}

}
@media (min-width:1281px) {
    .container .col.s9 .card.medium{width:31%}
    .container .card.medium{width:23%}
    .container.home .card.medium:nth-of-type(2n){margin-right:26px}
    .container.home .card.medium:nth-of-type(3n){margin-right:26px}
    .container.home .card.medium:nth-of-type(4n){margin-right:0px}
    header .filter-box form{padding-right:100px !important}
    header .filter-box form *{display:inline-block !important}
    header .filter-box form input, header .filter-box form select{width:18%}
    header.mini .filter-box form input, header.mini .filter-box form select{width:30%}
    header.mini .filter-box form {display:block !important}
    header h1{max-width:56%}
}
@media only screen and (max-width: 992px){
    nav .brand-logo{left:inherit;transform:inherit}
}