/* --- Global --- */
html {
    height: 100%;
}

body {
    background-color: #f3eee9;
    height: 100%;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 44px;
    font-weight: 200;
    margin: 2.1rem 0 0 0
}

h3 {
    line-height: 3.212rem
}

p {
    font-size: 15px;
}

select {
    font-size: 15px;
}

.material-icons{
    line-height: inherit;
}

.container {
    width: 90%
}

.btn {
    text-transform: none;
    height: 43px;
    line-height: 42px;
    background-color: #49a8ae;
    font-size: 15px;
}

.btn.brown {
    background-color: #91877d !important
}

.btn.red {
    background-color: #f1343b !important
}

.btn.blue {
    background-color: #6ea6ac !important;
    font-weight: bold
}

.btn.darkblue {
    background-color: #006faa !important
}

.btn.bggoogle {
    background-color: #df4a32 !important;
}

.btn.bgfb {
    background-color: #3a5795 !important;
}

.btn.bglinked {
    background-color: #2777b5 !important;
}

.btn.draft {
    background-color: #918e8c;
    color: white
}
.btn.transparent{
    background-color:transparent;border:2px solid #49a8ae
}

.fa-drive {
    background-image: url('../images/googledrive-icon.png');
    width: 19px;
    height: 16px;
    top: 3px;
    position: relative;
}

.alignVertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.radius10 {
    border-radius: 10px
}

.radius5 {
    border-radius: 5px
}

.no-radius {
    border-radius: 0 !important
}

.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none
}

.btnSpecialHeight {
    height: 46px
}

.padding3rm {
    padding: 0 3rem !important
}

.padding8rm {
    padding: 0 8rem
}

.margin45 {
    margin: 4px 5px
}

.noActive {
    background-color: transparent !important;
    border: 1px solid rgba(47, 47, 47, 0.25);
    color: rgba(47, 47, 47, 0.5);
    font-weight: bold
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.divider.max-width {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

.float-left {
    float: left;
}

.clear {
    clear: both
}

.width140 {
    width: 192px !important
}

.width232 {
    width: 232px !important
}

.no-border {
    border: none !important
}

.margin-top-bottom-50 {
    margin: 50px 0
}

.preloader-wrapper.active {
    position: absolute;
    right: 10px;
    top: 10px
}

.collection .collection-item.avatar {
    height: 50px
}

.row .col.remove-padding {
    padding: 0 0.75rem 0 0
}

.file-icon {
    height: 24px;
    width: 18px;
    background: #fff;
    background: -moz-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(77%, #fff), color-stop(80%, #fff), color-stop(84%, #f2f2f2));
    background: -webkit-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background: -o-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background: -ms-linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    background: linear-gradient(45deg, #fff 77%, #fff 80%, #f2f2f2 84%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1);
    margin: 0 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #fff;
    float: left
}

.file-icon:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 24px;
    top: 9px;
    left: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

.file-icon:after {
    position: absolute;
    height: 6px;
    width: 18px;
    top: 9px;
    left: 6px;
    color: #fff;
    -webkit-font-smoothing: anti-aliased;
    -moz-font-smoothing: anti-aliased;
    font-smoothing: anti-aliased;
    font: bold 8px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px
}

.file-icon.file:before {
    background: #ccc
}

.file-icon.file:after {
    content: "file"
}

.file-icon.pdf:before {
    background: #ff1900
}

.file-icon.pdf:after {
    content: "PDF"
}

.file-icon.doc:before {
    background: #08c
}

.file-icon.doc:after {
    content: "DOC"
}

.file-icon.xls:before {
    background: #00b234
}

.file-icon.xls:after {
    content: "XLS"
}

.file-icon.zip:before {
    background: #c2ba1d
}

.file-icon.zip:after {
    content: "ZIP"
}

.file-icon.vid:before {
    background: #000
}

.file-icon.vid:after {
    content: "VID"
}

.file-icon.img:before {
    background: #f1e9d0
}

.file-icon.img:after {
    content: "IMG";
    color: #000
}

.file-icon {
    margin-right: 30px;
}

hr {
    margin: 40px 0;
}

/*types*/
.light {
    font-weight: 200 !important
}

.bold {
    font-weight: bold
}

.regular {
    font-weight: 500
}

.type10 {
    font-size: 10px !important
}

.type12 {
    font-size: 12px !important
}

.type15 {
    font-size: 15px !important
}

.type18 {
    font-size: 18px !important
}

.type20 {
    font-size: 20px !important
}

.type25 {
    font-size: 25px !important
}

.type30 {
    font-size: 30px !important
}

.type35 {
    font-size: 35px !important
}

.hide-phone {
    display: inline-block;
}

.show-phone {
    display: none;
}

.highlight {
    font-weight:bolder
}

.container .card h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2f2f;
    font-weight: bold;
    font-size: 29px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    line-height: initial;
}

.rounded-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #2f2f2f;
    border-radius: 50%;
    color: #2f2f2f;
    font-size: 26px;
    line-height: 67px;
    text-align: center;
}



/* --- end Global --- */


/* --- Header --- */
header {
    background: url('../images/top-image.jpg') no-repeat center center;
    background-size: cover;
    height: 475px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;  
    padding-top: 10px;  
}

header h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 0 220px;
    line-height: 50px;
    margin: 80px 0 30px 0
}

header section.top-menu {
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


header.mini {
    height: 81px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header.mini h1 {
    display: none
}

header.mini .filter-box {
    background-color: transparent
}

header .filter-box form {
    margin: 0 auto;
    z-index: 200;
}

header.mini section.top-menu {
    z-index: 90;
    position: relative
}

header.mini2.mm-slideout,
header.mini.mm-slideout{
    z-index:99 !important
}

html.mm-opened body{
    overflow:initial
}

header.mini2, header.mini {
    position: fixed;
    height: 81px;
    z-index: 99 !important;
    top: 0;
    width: 100%;
    padding-top: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

header.mini2 h1,
header.mini3 h1 {
    display: none
}

header.mini .header_buttons,
header.mini2 .header_buttons,
header.mini3 .header_buttons {
    display: none
}

header.mini .input-data,
header.mini2 .input-data,
header.mini3 .input-data{
    display:none !important
}

header.mini h3,
header.mini2 h3,
header.mini3 h3{
    display:none
}

header .nav-mini-buttons{
    display:none
}

header.mini .nav-mini-buttons,
header.mini2 .nav-mini-buttons,
header.mini3 .nav-mini-buttons{
    display:inline-block
}

header.mini .filter-box form,
header.mini2 .filter-box form,
header.mini3 .filter-box form{
    margin:51px auto;
    width: 56%;
    padding-right: 21px;
}


header.mini3 {
    position: fixed;
    height: 152px;
    z-index: 99;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

header .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header nav.header-nav {
    background: none;
    box-shadow: none;
    position: relative;
}

header nav.header-nav > ul li {
    padding: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 43px
}

header nav.header-nav > ul li:hover,
nav > ul li.active {
    background-color: transparent
}

header nav.header-nav ul li a.user-avatar img {
    vertical-align: middle;
    width: 43px;
    height: 43px;
}

header nav.header-nav ul a.user-avatar {
    padding: 0 10px;
}

header .user-nav {
    position: absolute;
    right: 195px;
    top: 63px;
    display: none
}

header .user-nav ul li {
    width: 238px;
    height: 57px;
    background-color: white;
    padding: 15px;
    line-height: 30px;
    margin: 2px 0;
    float: none;
}

header .user-nav ul li:hover {
    background-color: #6ea6ac
}

header .user-nav ul li:hover a {
    color: white;
}

header .user-nav ul li:first-child {
    border-radius: 5px 5px 0 0;
    position: relative;
}

header .user-nav ul li:first-child:hover:after {
    border-color: rgba(110, 166, 172, 0);
    border-bottom-color: #6ea6ac;
}

header .user-nav ul li:first-child:after {
    bottom: 100%;
    left: 74%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -10px;
}

header .user-nav.company ul li:first-child:after {
    left: 195px
}

header .user-nav ul li:last-child {
    border-radius: 0 0 5px 5px
}

header .user-nav ul li a {
    color: #918e8c;
    font-size: 17px;
    font-weight: 200;
}

header .user-nav ul li a i {
    width: 10px;
    padding-right: 25px
}

header ul li .head-nav {
    border: 1px solid #fff;
    border-radius: 3px;
    height: 43px;
    margin: 12px 25px 0 10px;
    width: 43px;
    text-align: center;
    padding: 0;
    line-height: 43px;
}

header ul li .head-nav i {
    height: 0;
    line-height: 43px;
}

header ul li .head-nav:after {
    content: 'MENU';
    margin-left: 50px;
}

header ul.header_buttons{margin:0 auto;text-align:center}
header ul.header_buttons li{display:inline-block; margin-right:30px}
header ul.header_buttons li a{padding:5px 30px;height:auto}
header ul.header_buttons li:last-child{margin-right:0}
header ul.header_buttons li:last-child a{background-color:transparent;border:2px solid #49a8ae}
/* --- end Header --- */



/* --- Tooltips --- */
a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 300px;
    color: #918E8C;
    background: #EBEBEB;
    height: 52px;
    line-height: 52px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #EBEBEB;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a.tooltips.align-left span:after {
    left: 10%;
}

a.tooltips.align-middleleft span:after {
    left: 38%;
}

a.tooltips.align-middleright span:after {
    left: 63%;
}

a.tooltips.align-right span:after {
    left: 90%;
}

a.tooltips.align-middleleft span {
    margin-left: -154px !important
}

a.tooltips.align-middleright span {
    margin-left: -180px !important;
    left: 0 !important
}

a.tooltips.align-right span {
    margin-left: -263px !important;
    left: 0 !important
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    top: 40px;
    left: 52px;
    margin-left: -76px;
    z-index: 999;
}
/* --- end Tooltips --- */


/* --- Sections --- */
section.top-menu .nav-wrapper .brand-logo {
    padding: 10px 0 0 20px;
}

section.top-menu .nav-wrapper .brand-logo img {
    width: 112px;
    -webkit-filter: drop-shadow(-2px -2px 2px #000);
    filter: drop-shadow(-2px -2px 2px #000);
}
/* --- end Sections --- */


/* --- Filters --- */
.filter-box {
    padding: 11px 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 120px;
    left: 0;
}

.filter-box form {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 64%;
    /*max-width: 862px;*/
    position: relative;
    padding-right: 42px;
    z-index: 200;
}

.filter-box form *:not(h3):not(.input-data) {
    display: inline-block;
    vertical-align: top
}

.filter-box form .input-data{
    color: #AFADAD;
    text-align: left;
    width: 30%;
    display:block
}

.filter-box form h3{
    font-size: 16px;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 200px;
}

.filter-box form input,
.filter-box form select {
    height: 42px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 11px;
    color: #8d9294;
    font-size: 15px;
    font-weight: 200;
    float: left;
    /*margin-right: 1px;*/
    /*width: 33.17%;*/
    margin: 0 11px 0 0;
    width: 22%;
}

.filter-box form select:last-of-type{
    margin:0;
}

.filter-box form input {
    background-color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border:none;
}


.filter-box form select {
    background-color: white;
    border-radius:0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.filter-box form a {
    width: 20%;
    text-align: center;
    overflow:hidden;
    height:42px;
}

.filter-box form a:after{
    content:'FIND A JOB';
}

header.mini .filter-box form a,
header.mini2 .filter-box form a,
header.mini3 .filter-box form a{
    float:left;
    margin-left:10px;
    width:10%;
}



.filter-box form>* {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.filter-box form>*:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.filter-box form>*:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
/* --- end Filters --- */



/* --- Containers --- */
.container {
    margin-top: 60px
}

.container.no-margin {
    margin-top: 0
}

.container .cards.similarJobs .card:nth-of-type(4n) {
    margin-right: 0
}
/* --- end Containers --- */

/* -- Login Form -- */
.container .card.login-form,
.container .card.apply_unlogged{padding:20px}
.container .card.login-form h1,
.container .card.apply_unlogged h1{color:#2f2f2f; margin:0; font-size:20px; font-weight: 600; text-shadow: none; text-align: center;}
.container .card.login-form a{margin:0 auto; display:block}
.container .card.login-form a.btn.linkedin{width: 25%; text-align: center; margin-left: 13px; padding: 0 10px; display: inline-block}

.container .card.login-form form,
.container .card.apply_unlogged form{width:100%;margin:0 auto}
.container .card.login-form form input,
.container .card.apply_unlogged form input:not([type="file"]):not(.file-path),
.container .card.apply_unlogged form textarea{border:1px solid rgba(133,133,133,0.25); width: 90%; margin: 5px auto; display: block; height: 46px; background-color: white; border-radius: 5px;  padding: 0 0 0 16px;  box-sizing: border-box;}
.container .card.apply_unlogged form textarea{height: 100px; line-height: 40px;}
.container .card.apply_unlogged .file-field{width:90%; margin:10px auto}
.container .card.apply_unlogged form button{width: 90%; margin: 0 auto; display: block;}

.container .card.login-form form button{width:62%}
/* -- End Login Form -- */

/* --- Card Medium --- */
.card.medium {
    height: 394px;
    text-align: center;
    padding: 0;
    color: white;
    transition: .2s ease-out;
    background-color: #f6f4f0;
    cursor:pointer;
}

.card.medium .top-content {
    padding: 20px 25px;
    background-color: #49a8ae;
    height: 220px
}

.card.medium .top-content .location {
    padding-bottom: 10px;
    /* border-bottom: 1px solid #e0e7e5; */
    width: 48%;
    float: left;
    text-align: left;
}
.card.medium .top-content .featured {
    width: 10%;
    float: right;
    text-align: right;
}
.card.medium .top-content .featured i{
    color:yellow;
    line-height:20px
}

.card.medium .top-content .location {
    font-size: 14px;
}

.card.medium .top-content .location a {
    color: white;
}

.card.medium .top-content h2 {
    font-size: 25px;
    font-weight: 200;
    /*line-height: 25px;*/
    line-height: 31px;
    margin: 25px 0 0 0;
    color: white;
}

.card.medium .top-content h3,
.card.medium .bottom-content h3{
    font-size: 17px;
    margin: 8px 0 30px 0;
    line-height: 17px;
    color: #173a3c;
    font-weight: 300;
    text-transform:uppercase;
}

.card.medium .company-logo {
    position: relative;
    z-index: 2;
    margin: -41px 0 20px;
}

.card.medium .company-logo img {
    border: 5px solid white
}

.card.medium .bottom-content {
    color: #787878;
    font-weight: 200;
    font-size: 16px;
    padding: 0 25px;
    margin: 0 auto
}

.card.medium .bottom-content .card-actions ul li {
    display: inline-block;
    margin: 0;
    width: 32%;
}

.card.medium .bottom-content .card-actions ul li a {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #b5b3b0;
    border-radius: 50%;
    color: #b5b3b0;
    font-size: 30px;
    line-height: 60px
}

.card.medium .bottom-content .card-actions ul li:hover a {
    color: #6ea6ac;
    border-color: #6ea6ac
}

.card.medium .bottom-content .card-actions ul li.selected a i {
    color: red
}

.card.medium:hover {
    transition: .2s ease-out;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.36), 0 2px 10px 0 rgba(0, 0, 0, 0.32);
    border: 2px solid #fff;
    background-color: #fff;
}

.card.medium:hover .top-content {
    padding: 20px 21px;
}
.card.medium:hover .bottom-content {
    padding: 0 21px;
}

/*.card.medium:hover .bottom-content p {
    display: none;
    transition: .2s ease-out
}*/

/*.card.medium:hover .bottom-content .card-actions {
    display: block !important
}*/

.card.medium.visited .top-content {
    background-color: #f2f3ee;
}

.card.medium.visited .top-content h2 {
    color: #719ca0
}

.card.medium.visited .top-content h3 {
    color: #2a4043
}

.card.medium.visited .top-content .location {
    border: 0;
    color: #49a8ae;
}



.card.medium.non-featured:not(.visited) .top-content{
    background-color:rgba(73,168,174,0.8)
}
.card.medium.non-featured:not(.visited) .top-content h2 {
    opacity:1
}

.card.medium.non-featured:not(.visited) h3 {
    opacity:1
}





.card.medium.visited {
    background-color: #f6f4f0;
}

.card.medium.visited .bottom-content p {
    color: #787878
}
/* --- end Card Medium --- */



/* --- Card Big --- */
.card.big:first-of-type {
    margin-top: 0;
}
.card.big .company-description {
    max-height: 250px;
}

.card.big .company-description .card-top {
    background-color: #d9e5e3;
    padding: 24px 0 0 50px;
    position: relative;
    width: 85%;
    min-height: 170px
}

.card.big .company-description .card-top .card-attr {
    float: left;
    margin-right: 20px;
}

.card.big .company-description .card-top .card-attr a {
    color: #324d50;
    font-size: 15px;
}

.card.big .company-description .card-top .card-attr i {
    font-size: 18px;
    top: 3px;
    position: relative;
}

.card.big .company-description .card-top h2 {
    color: #568a90;
    font-size: 34px;
    margin: 8px 0 0;
    font-weight: 500;
    line-height: 36px;
    max-width: 585px
}

.card.big .company-description .card-top h3 {

    font-size: 19px;
    margin: 0;
    font-weight: 500;
    line-height: 43px
}

.card.big .company-description .card-top h3 a{
    color: #2a4043;
}

.card.big .company-description .company-logo {
    position: absolute;
    top: 42%;
    margin-top: -60px;
    right: 8%;
}

.card.big .company-description .company-logo img {
    border: 5px solid white
}

.card.big .company-description .card-bottom {
    background-color: #f6f4f0;
    height: 100%;
    padding: 6px 50px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #928d87
}

.card.big .company-description .card-bottom a {
    margin-right: 10px;
    color: #c9c6c1;
    font-size: 18px;
}

.card.big .company-description .card-bottom a:after {
    content: '\00a0\00a0 • \00a0\00a0';
    position: relative;
    right: -8px;
}

.card.big .company-description .card-bottom a:last-child:after {
    content: ''
}

.card.big .job-content,
.card.big .the-candidate,
.card.big .the-company {
    background-color: #f6f4f0;
    padding: 30px 50px
}

.card.big .job-content h2,
.card.big .the-candidate h2,
.card.big .the-company h2 {
    font-size: 32px;
    color: #6ea6ac;
    font-weight: 600
}

.card.big .job-content p,
.card.big .the-candidate p,
.card.big .the-company p {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}
/* --- end Card Big --- */



/* --- Buttons --- */
.container .btn-favourite,
.container .btn-share,
.container .btn-subscribe {
    height: 42px;
    border: 1px solid #9e9e9e;
    display: inline-block;
    border-radius: 5px;
    color: #9e9e9e;
    font-size: 15px;
    padding: 10px 10px 10px 20px;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.container .btn-share {
    margin-right: 0
}

.container .btn-favourite i,
.container .btn-share i,
.container .btn-subscribe i {
    /*margin-right: 30px;
    position: absolute;
    left: 11px;*/
}

.container .btn-favourite:hover,
.container .btn-share:hover,
.container .btn-subscribe:hover {
    color: #6ea6ac;
    border-color: #6ea6ac
}

.container .btn-favourite.selected,
.container .btn-share.selected,
.container .btn-subscribe.selected {
    background-color: white;
}

.container .btn-favourite.selected i,
.container .btn-share.selected i,
.container .btn-subscribe.selected i {
    color: red
}

.module-actions a {
    float: right;
    width: 47%;
    margin-bottom: 25px;
}

.module-actions a:first-of-type {
    float: left;
}

/* --- end Buttons --- */


/* --- Applicant Module --- */
.card.module.the-applicant {
    background-color: white;
    padding: 36px 40px
}

.card.module.the-applicant .divider {
    margin: 20px 0
}

.card.module.the-applicant h3 {
    color: #568a90;
    font-weight: 500;
    font-size: 30px;
    margin: 0 0 15px 0
}

.card.module.the-applicant span.user-name {
    color: #736e68;
    font-size: 24px;
    font-weight: 300;
    display: block
}

.card.module.the-applicant span i {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.card.module.the-applicant span.user-name i {
    font-size: 19px;
}

.card.module.the-applicant span.user-email {
    color: #736e68;
    font-size: 18px;
    font-weight: 300;
    display: block
}

.card.module.the-applicant span.user-email i {
    margin-right: 8px
}

.card.module.the-applicant textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.card.module.the-applicant .upload-content,
.card.module.the-applicant .uploaded-content {
    margin-top: 10px
}

.card.module.the-applicant .upload-content span,
.card.module.the-applicant .uploaded-content span {
    color: rgba(47, 47, 47, .5);
    font-size: 15px;
}

.card.module.the-applicant .upload-content ul li {
    display: inline-block;
    width: 57px;
    height: 42px;
    border-radius: 5px;
    background-color: #ccc8c4;
    text-align: center;
    line-height: 40px;
    margin-right: 19px
}

.card.module.the-applicant .upload-content ul li:last-child {
    margin-right: 0
}

.card.module.the-applicant .upload-content ul li a {
    color: #736e68;
}

.card.module.the-applicant .uploaded-content ul li {
    color: #736e68;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 300
}

.card.module.the-applicant .uploaded-content ul li a:first-of-type {
    position: absolute;
    right: 62px;
    color: black
}

.card.module.the-applicant .uploaded-content ul li a:last-of-type {
    color: red;
    position: absolute;
    right: 38px
}

.card.module.the-applicant [type="checkbox"]+label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300
}

.card.module.the-applicant [type="checkbox"]:not(:checked)+label:before {
    border: 1px solid #ccc8c4;
    border-radius: 5px
}

.card.module.the-applicant .btn {
    width: 100%;
    background-color: #d0373d;
    font-size: 16px;
    font-weight: 600;
}
/* --- end Applicant Module --- */


/* --- Profile Section --- */
section.profile .card.medium:nth-of-type(3n),
section.company_profile .card.medium:nth-of-type(3n) {
    margin-right: 0
}

section.profile .user-name,
section.company_profile .user-name {
    margin-bottom: 20px
}

section.profile .user-name img,
section.company_profile .user-name img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin-right: 10px
}

section.profile .user-name h1,
section.company_profile .user-name h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin: 0;
    line-height: 30px;
    position: absolute;
    top: 8px;
    width: 180px;
}

section.profile .user-menu ul li:first-child,
section.company_profile .user-menu ul li:first-child {
    border-top: 1px solid #e0e0e0
}

section.profile .user-menu ul li,
section.company_profile .user-menu ul li {
    height: 58px;
    line-height: 56px;
    font-size: 17px;
    border-bottom: 1px solid #e0e0e0
}

section.profile .user-menu ul li a,
section.company_profile .user-menu ul li a {
    color: #2f2f2f;
    font-weight: 500
}

section.profile .user-menu ul li a:hover,
section.company_profile .user-menu ul li a:hover {
    color: #6ea6ac
}

section.profile .user-menu ul li a.active,
section.company_profile .user-menu ul li a.active {
    color: #6ea6ac
}

section.profile .attached-files {
    float: right;
    width: 95%
}

section.profile .attached-files ul li {
    background-color: #f6f4f0;
    height: 83px
}

section.profile .attached-files ul li .file-type {
    width: 10%;
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-size: 30px
}

section.profile .attached-files ul li .file-type.icons {
    padding: 24px 0 0 24px
}

section.profile .attached-files ul li h1 {
    width: 67%;
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    height: 83px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 200;
    vertical-align: top
}

section.profile .attached-files ul li h1 a {
    color: black
}

section.profile .attached-files ul li .actions {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

section.profile .attached-files ul li .actions a {
    color: black;
    padding: 0 40px;
    border-left: 2px solid #f3eee9;
    height: 83px;
    display: inline-block;
    line-height: 80px
}

section.profile .attached-files ul li .actions a:hover,
section.profile .attached-files ul li .actions a.selected {
    color: #6ea6ac
}

section.profile .attached-files ul li.addFile .file-type {
    background-color: #ece2d8;
    color: #cdc8c3;
}

section.profile .attached-files ul li.addFile h1 {
    color: rgba(60, 60, 59, 0.5)
}

section.company_profile .searchBar {
    width: 100%;
    background-color: white;
    height: 57px;
    border-radius: 5px
}

section.company_profile .searchBar select,
section.company_profile .searchBar input {
    width: 30%;
    height: 57px;
    display: inline-block;
    border: none;
    font-size: 15px;
}

section.company_profile .searchBar a {
    color: black;
    float: right;
    padding: 14px 20px;
    font-size: 22px;
}

section.company_profile .row.jobs {
    font-size: 15px;
}

section.company_profile .manage_job:hover {
    /*border: 1px solid #6ea6ac;
    background-color: #f6f4f0*/
}

section.company_profile .manage_job.sponsored .location a {
    color: #3e787e
}

section.company_profile .manage_job:hover .top-content,
section.company_profile .manage_job:hover .bottom-content,
section.company_profile .manage_job:hover .company-logo {
    display: none
}

section.company_profile .manage_job:hover .card-actions {
    display: block !important
}

section.company_profile .manage_job .card-actions ul {
    padding-left: 55px;
}

section.company_profile .manage_job .card-actions ul li {
    height: 40px;
    margin-bottom: 15px;
    text-align: left
}

section.company_profile .manage_job .card-actions ul li.active a {
    color: #6ea6ac
}

section.company_profile .manage_job .card-actions ul li.active i {
    color: #f6f4f0;
    background-color: #6ea6ac;
    border-color: #6ea6ac;
}

section.company_profile .manage_job .card-actions ul li:hover a {
    color: #6ea6ac
}

section.company_profile .manage_job .card-actions ul li:hover i {
    color: #f6f4f0;
    background-color: #6ea6ac;
    border-color: #6ea6ac;
}

section.company_profile .manage_job .card-actions ul li a {
    color: #8a8886;
    font-size: 20px;
    font-weight: 200;
    margin-left: 5px
}

section.company_profile .manage_job .card-actions ul li i {
    color: #8a8886;
    font-size: 20px;
    padding: 9px 0px 5px 10px;
    border: 1px solid #8a8886;
    height: 40px;
    width: 40px;
    margin-right: 7px
}

section.company_profile .manage_job .card-actions ul.bottom {
    margin-top: 26px;
    background-color: #eeece8;
    padding-top: 26px;
    padding-bottom: 16px;
}

.job-view.card-actions ul{  padding-left: 55px;}  .job-view.card-actions ul li {height:40px;margin-bottom:15px; text-align:left}
.job-view.card-actions ul li.active a{color:#6ea6ac}
.job-view.card-actions ul li.active i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.job-view.card-actions ul li:hover a{color:#6ea6ac}
.job-view.card-actions ul li:hover i{color: #f6f4f0; background-color: #6ea6ac;  border-color: #6ea6ac;}
.job-view.card-actions ul li a{color:#8a8886; font-size:20px; font-weight: 200; margin-left:5px}
.job-view.card-actions ul li i{color:#8a8886; font-size:20px; padding:9px 0px 5px 10px; border: 1px solid #8a8886;height: 40px;width: 40px; margin-right:7px}
.job-view.card-actions ul.bottom{margin-top: 26px;background-color: #eeece8;  padding-top: 26px; padding-bottom: 16px;}


section.company_profile .analytic {
    width: 48%;
    height: 493px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 30px
}

section.company_profile .analytic.big {
    width: 100%;
}

section.company_profile .analytic:last-child {
    margin: 0;
}

section.company_profile .analytic .header {
    height: 52px;
    background-color: #f5f5f5;
}

section.company_profile .analytic .header h1 {
    margin: 0;
    font-size: 20px;
    color: #656878;
    padding-left: 10px;
    line-height: 50px
}

section.company_profile .analytic .body {
}

section.company_profile .analytic .body .canvas {
    display: inline-block;
    padding: 10px
}

section.company_profile .analytic .body .canvas h1 {
    margin: 0;
    font-size: 25px;
    color: #656878;
    padding-left: 10px;
    line-height: 50px
}

section.company_profile .analytic .body .details {
    display: inline-block;
    width: 152px;
    vertical-align: top
}

section.company_profile .analytic .body .details ul {
    margin: 0
}

section.company_profile .analytic .body .details ul li {
    width: 100%;
    height: 164px;
    margin-bottom: 1px;
    background-color: #f6f4f0;
    text-align: center;
    padding-top: 50px
}

section.company_profile .analytic .body .details ul li span {
    font-size: 16px;
    display: block;
    line-height: 12px
}

section.company_profile .analytic .body .details ul li strong {
    font-size: 25px;
    display: block
}

section.company_profile .analytic .body .details ul li.totals span,
section.company_profile .analytic .body .details ul li.totals strong {
    color: #848693
}

section.company_profile .analytic .body .details ul li.views span,
section.company_profile .analytic .body .details ul li.views strong {
    color: #6ea6ac
}

section.company_profile .analytic .body .details ul li.apps span,
section.company_profile .analytic .body .details ul li.apps strong {
    color: #d24046
}

section.company_profile .billing_info .collection {
    border: 0
}

section.company_profile .billing_info .collection li {
    margin: 10px 0
}

section.company_profile .billing_info .collection li .secondary-content {
    margin: 0 10px
}

section.company_profile .billing_info .collection li .hiddenInfo {
    margin-top: 25px;
    background-color: rgba(177, 206, 174, 0.13);
    padding: 20px;
}

section.company_profile .billing_info .hiddenInfo {
    margin-top: 25px;
    background-color: white;
    padding: 20px;
}

section.company_profile .applications h1{
    font-size:30px;
    margin:0;
    padding:10px 25px
}

section.company_profile .applications span.new{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 30px;
    width: 30px;
    background-color: #9E9389;
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 29px;
}
section.company_profile .applications span.new.have_applications{
    background-color: #F1343B;
}


section.company_profile .applications .collapsible li{
    position:relative
}

section.company_profile .applications .collapsible{
    border:none;
    -webkit-box-shadow: none;
    box-shadow:none
}

section.company_profile .applications .collapsible-header{
    height:auto;
    border:none
}

section.company_profile input.btn.red {
    font-size: 15px;
    font-weight: 600;
    width: 140px;
}
section.company_profile .submit-form {
    margin: 35px 0 -30px;
}
/* --- end Profile Section --- */


section.search-results > .container > .row:first-of-type {
    margin: 100px -0.75rem 22px -0.75rem;
}

section.search-results .divider {
    margin-bottom: 30px
}

section.search-results .search-term h1 {
    margin: 0;
    font-size: 32px;
    color: #3f3f3f;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle
}

section.search-results .search-term span.search-results {
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    background-color: #6ea6ac;
    border-radius: 20px;
    box-sizing: content-box;
    vertical-align: middle;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
}

section.search-results .search-actions a {
    float: right;
    margin-left: 6px;
    margin-top: 11px;
}

/* --- Full Page (login, register, forgot, etc) --- */
section.full-page {
    margin: 0;
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 100%;
    padding: 0;
    max-width: 100%;
}

section.full-page > .container  {
    margin: 0 auto;
    height: 100%;
    position: relative;
    min-height: 100%;
    padding: 0;
    max-width: 1280px;
    padding: 5% 0;
}

section.full-page .header {
    position: relative;
    top: 10%;
    margin-bottom: 0;
}

section.full-page .header .logo {
    background-image: url('../images/logo.svg');
    -webkit-filter: drop-shadow(-2px -2px 2px #000);
    filter: drop-shadow(-2px -2px 2px #000);
    width: 168px;
    height: 52px;
    margin: 0 auto 15px auto;
}

section.full-page h1 {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.33);
    line-height: 16px;
}

section.full-page h2 {
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.33);
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
}

section.full-page .forms {
    position: relative;
    margin: 29px auto 0;
}

section.full-page .forms > div {
    text-align: center;
}

section.full-page .forms > div > .row {
    width: auto;
    margin: auto;
    display: inline-block;
}

section.full-page [class*="full-page-col-"] {
    padding: 0;
    position: relative;
    text-align: left;
}

section.full-page .full-page-col-white > div {
    background-color: #fff;
}

section.full-page [class*="full-page-col-"] > div {
    height: 462px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 58px 48px 50px;
    margin: 2px;
}

section.full-page [class*="full-page-col-"] button,
section.full-page [class*="full-page-col-"] a.btn {
    position: absolute;
    bottom: 51px;
    left: 0;
    right: 0;
    margin: auto;
    width: 68%;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

section.full-page a.back {
    display: inline-block;
    vertical-align: middle;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top: -56px;
}

section.login .login-form a.forgot {
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin: 5px
}

section.login .login-form button {
    margin-top: 30px
}

section.login .register a {
    margin-top: 55px
}

section.full-page [class*="full-page-col-"] h1 {
    font-size: 25px;
    font-weight: 700;
    text-shadow: none;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    line-height: 30px;
}

section.full-page .header h1 {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    font-weight: 400;
    line-height: 25px;
}

section.register .candidates h1,
section.register .recruiters h1 {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
}

section.register .candidates h1 {
    color: #6ea6ac
}

section.register .recruiters h1 {
    color: #d0373d
}

section.register .candidates p,
section.register .recruiters p {
    color: #2f2f2f;
    font-size: 17px;
    font-weight: 300
}

section.register .candidates ul,
section.register .recruiters ul {
    list-style-position: inside;
    margin: 30px 0px
}

section.register .candidates ul {
    list-style-image: url('../images/icon-check-mark.png');
}

section.register .recruiters ul {
    list-style-image: url('../images/icon-check-mark-red.png');
}

section.register .candidates ul li,
section.register .recruiters ul li {
    color: #2f2f2f;
    font-size: 17px;
    margin-bottom: 7px;
}

section.forgot .row .card p {
    color: white;
    font-size: 16px;
    margin-top: 0px
}

section.forgot [class*="full-page-col-"] > div {
    height: auto;
}

section.forgot [class*="full-page-col-"] a.btn {
    position: relative;
    width: 100%;
    bottom: 0;
}

section.forgot [class*="full-page-col-"] p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

section.full-page [class*="full-page-col-"] .separador {
    color: white;
    margin: 20px auto;
    font-size: 14px;
    width: 83px;
}

section.full-page .full-page-col-white .separador {
    color: #bfbfbf;
}

section.full-page [class*="full-page-col-"] hr {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px
}

section.full-page [class*="full-page-col-"] form a {
    font-weight: 300;
    font-size: 15px
}

section.full-page [class*="full-page-col-"] form input {
    height: 46px;
    background-color: white;
    border-radius: 5px;
    padding: 0 0 0 16px;
    box-sizing: border-box;
    margin: 5px 0;
}

section.full-page [class*="full-page-col-"] form input:last-of-type {
    margin-bottom: 10px;   
}

section.full-page .full-page-col-white form input {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

section.login .btn {
    width: 100%;
}

section.full-page .container .register h1 {
    color: #2e2e2e
}

.container .register p {
    color: #2f2f2f;
    font-size: 17px;
    font-weight: 300
}

.container .register ul {
    list-style-image: url('../images/icon-check-mark.png');
    list-style-position: inside;
    margin: 30px 0px
}

.container .register ul li {
    color: #2f2f2f;
    font-size: 17px;
    margin-bottom: 7px;
}

section.register.create [class*="full-page-col-"] > div {
    position: relative;
    z-index: 1;
    margin-top: 62px;
    height: auto;
}

section.register.create [class*="full-page-col-"] button, 
section.register.create [class*="full-page-col-"] a.btn {
    position: relative;
    width: 100%;
    bottom: 0;
}

section.register.create ul.tab {
    margin: 0 2px;
    position: relative;
}

section.register.create ul.tab li {
    display: inline-block;
    width: 50%;
    padding: 0;
    height: 65px;
}

section.register.create ul.tab li.active a {
    background-color: white;
}

section.register.create ul.tab li a {
    font-size: 20px;
    color: white;
    line-height: 57px;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    height: 65px;
    background-color: #717171;
    border-radius: 5px 5px 0 0;
}

section.register.create ul.tab li:first-of-type a {
    margin-right: 3px;
}

section.register.create ul.tab li:last-of-type a {
    margin-left: 3px;
}

section.register.create ul.tab li.active a {
    color: #6ea6ac
}

section.register.create #candidates,
section.register.create #recruiters {
    display: none
}

section.register.create #candidates.active,
section.register.create #recruiters.active {
    display: block;
}

section.register.success [class*="full-page-col-"] > div {
    margin-top: 30px;
    height: auto;
}

section.register.success [class*="full-page-col-"] a.btn {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

section.register.success img.circle {
    margin: 0 auto;
    width: 108px;
    display: block;
    position: absolute;
    z-index: 2;
    top: -25px;
    left: 0;
    right: 0;
}

section.register.success p {
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    color: #4d4d4d;
}

section.register.success a {
    font-weight: 400;
    text-align: left;
    position: relative
}

section.register.success a i {
    position: absolute;
    right: 10px;
    font-size: 10px
}
/* --- end Full Page (login, register, forgot, etc) --- */



/* --- Contact --- */
body.contact {
    background-image: url('../images/contact-background.jpg');
    background-size: cover;
}

section.contact .header {
    position: relative;
    top: 10%;
    margin-bottom: 0;
}

section.contact .header i {
    margin-top: 60px;
}

section.contact h1 {
    margin: 0;
    color: #2f2f2f;
    font-size: 41px;
}

section.contact h2 {
    color: #2f2f2f;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
}

section.contact form {
    margin: 30px 28px 0 !important;
}

section.contact input,
section.contact textarea {
    background: #fff;
    font-size: 15px;
    color: #4d4d4d;
    border-radius: 5px;
    border: 1px solid #dcd8d3;
    padding: 0px 15px;
    box-sizing: border-box;
}

section.contact textarea {
    height: auto;
}

section.contact button.btn.blue {
    margin: 30px auto 0;
    display: block;
    font-size: 15px;
    font-weight: normal;
    max-width: 223px;
    width: 100%;
}

section.contact .contact-numbers {
    margin-top: 70px;
}

section.contact .contact-numbers a {
    color: #2f2f2f;
    display: block;
    text-align: center;
}

section.contact .contact-numbers i.fa-mobile {
    font-size: 40px;
}

section.contact .contact-numbers span {
    display: block;
    font-size: 18px;
    margin-top: 12px;    
}
/* --- end Contact --- */



/* --- Social Networks --- */
section.full-page [class*="full-page-col-"] .social-netwroks,
.social-netwroks {
    text-align: center;
}

section.full-page [class*="full-page-col-"] .social-netwroks a,
.social-netwroks a {
    width: 57px !important;
    height: 43px;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 0;
}

section.full-page [class*="full-page-col-"] .social-netwroks a:first-of-type,
.social-netwroks a:first-of-type {
    float: left;
}

section.full-page [class*="full-page-col-"] .social-netwroks a:last-of-type,
.social-netwroks a:last-of-type {
    float: right;
}
/* --- end Social Networks --- */


/* --- Card Module --- */
.card.module {
    padding: 40px 60px 50px;
}
/* --- end Card Module --- */

/* --- Login Form Module --- */
.card.module.login-form {
    padding-bottom: 50px;
}

.card.module.login-form:first-of-type {
    margin-top: 0;
}
.card.module.login-form .separador {
    color: #2f2f2f;
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
}

.card.module.login-form form input {
    border: 1px solid rgba(133, 133, 133, 0.25);
    padding: 0 15px;
    box-sizing: border-box;
}

.card.module.login-form form button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.card.module.login-form .social-netwroks a {
    width: 65px !important;
    height: 45px;
    line-height: 45px;
}
/* --- end Login Form Module --- */



/* --- Register Module --- */
.card.module.register a.btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}
/* --- end Register Module --- */



/* --- Post Job --- */
.charCounter{position: absolute; top: 4px; right: 13px; color: gray;}

form.postAJob .row .col {
    padding: 0;
    position:relative;
}

form.postAJob span.error{
    font-size:12px;
    color:red;
    display:none;
}

form.postAJob input.big-input {
    background-color: #f6f4f0;
    height: 60px;
    border: 0;
    padding: 10px 0 10px 45px;
    font-size: 38px;
    color: #474747;
    font-weight: 300;
    border-radius: 5px;
    box-sizing: border-box;
    margin:15px 0 0 0;
}

form.postAJob input.big-input:focus {
    height: 71px;
    border: 1px solid #6ea6ac;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
}

form.postAJob input.big-input::-webkit-input-placeholder,
form.postAJob input.big-input:-moz-placeholder,
form.postAJob input.big-input::-moz-placeholder,
form.postAJob input.big-input:-ms-input-placeholder {
    font-size: 24px;
    color: #b1afad;
    line-height: 40px
}

form.postAJob input.big-input.half {
    width: 49%;
    margin-right: 1.6%;
    font-size: 25px
}

form.postAJob input.big-input.half:nth-of-type(2n) {
    margin-right: 0
}

form.postAJob input.big-input:disabled {
    color: gray;
    cursor: not-allowed;
}


form.postAJob input.big-input.error{
    border:1px solid red;
}
form.postAJob input.big-input.success{
    border:1px solid green;
}

form.postAJob input.normal-input {
    font-weight: 300;
    font-size: 20px
}

form.postAJob input.normal-input.error{
    border-bottom: 1px solid red;
}
form.postAJob input.normal-input.success{
    border-bottom: 1px solid green;
}

form.postAJob input.normal-input::-webkit-input-placeholder,
form.postAJob input.normal-input:-moz-placeholder,
form.postAJob input.normal-input::-moz-placeholder,
form.postAJob input.normal-input:-ms-input-placeholder {
    font-size: 20px;
    color: rgba(47, 47, 47, 0.35);
    line-height: 30px;
    font-weight: 200
}

form.postAJob input.normal-input.arrows {
    background: url('../images/arrows.png') no-repeat center right
}

form.postAJob select.normal-input.arrows {
    background: url('../images/arrows.png') no-repeat center right
}

form.postAJob select.normal-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-weight: 300;
    font-size: 25px
}

form.postAJob select.normal-input:focus {
    border: none
}

form.postAJob .box {
    background-color: #f6f4f0;
    border-radius: 5px;
    padding: 30px 45px !important;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative
}

form.postAJob .box.job-location {
    padding: 65px 45px !important;
}

form.postAJob .box h1 {
    color: #6ea6ac;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
    padding: 0 15px 0 0;
    line-height: initial;
}

form.postAJob .box.job-location h1 {
    margin-bottom: 0;
}

form.postAJob .box.job-location span {
    text-align: center;
}

form.postAJob .box h2 {
    color: rgba(47, 47, 47, 0.35);
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    line-height: initial;
    margin-bottom: 10px;
}

form.postAJob .box h1 .small {
    color: #808080;
    font-size: 12px;
    text-transform: uppercase
}

form.postAJob .box.focused:after {
    font-family: FontAwesome;
    content: "\f040";
    position: absolute;
    top: 18px;
    right: 20px;
}

form.postAJob .box textarea,
.wysiwyg-editor {
    border: 0;
    resize: none;
    overflow: hidden;
    font-size: 20px;
    color: #2f2f2f;
    font-weight: 200;
    height: auto;
}

form.postAJob .box textarea:focus {
    border: 0;
    outline: 0
}

form.postAJob .box .divider {
    margin: 35px 0;
}

.wysiwyg-editor ul li {
    list-style-type: inherit;
}

.wysiwyg-editor ul {
    padding-left: 25px;
    list-style-type: inherit;
}

.wysiwyg-container {
    border: none
}

.wysiwyg-container.wysiwyg-active {
    border: none;
    box-shadow: none;
}

.wysiwyg-placeholder {
    white-space: pre;
    display: block;
    unicode-bidi: embed
}

form.postAJob .box textarea::-webkit-input-placeholder,
.wysiwyg-placeholder {
    font-size: 20px;
    color: rgba(47, 47, 47, 0.35);
    font-weight: 200
}

form.postAJob .box textarea:-moz-placeholder {
    font-size: 20px;
    color: rgba(47, 47, 47, 0.35);
    font-weight: 200
}

form.postAJob .box textarea::-moz-placeholder {
    font-size: 20px;
    color: rgba(47, 47, 47, 0.35);
    font-weight: 200
}

form.postAJob .box textarea:-ms-input-placeholder {
    font-size: 20px;
    color: rgba(47, 47, 47, 0.35);
    font-weight: 200
}

form.postAJob .box .fileInput p {
    max-width: 306px;
    margin: 0 10px;
    color: rgba(47, 47, 47, 0.35)
}

form.postAJob .box .fileInput img,
form.postAJob .box .fileInput p,
form.postAJob .box .fileInput a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
}

form.postAJob .box .fileInput img {
    width: 80px;
    height: 80px;
}

.container .box .fileInput #dropzone {
    z-index: 2;
    width: 80px;
    height: 80px;
    position: absolute
}

.container .box .fileInput #dropzone.hover {
    border: 3px dashed #6EA6AC;
    background-color: rgba(255, 255, 255, 0.5);
    color: #6EA6AC;
}

.container .box .fileInput #dropzone.hover:after {
    content: 'Drop Here!';
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-top: 42%;
    display: block;
    color: #436569;
}

.container .box .fileInput #dropzone.dropped {
    background: #222;
    border: 10px solid #444;
}

form.postAJob .row.categories a {
    height: 46px;
    border-radius: 5px;
    background-color: transparent !important;
    border: 1px solid rgba(47, 47, 47, 0.25);
    color: rgba(47, 47, 47, 0.5);
    font-weight: bold;
    margin: 4px 0.5%;
    width: 48%
}

form.postAJob .row.categories a.active {
    background-color: #6ea6ac !important;
    font-weight: bold;
    color: white;
    border: none
}

form.postAJob .box a:hover {
    box-shadow: none;
    background-color: #c1d3d2 !important;
    color: rgba(47, 47, 47, 0.5);
    border-color: #C1D3D2
}

form.postAJob .typeOfJob a {
    height: 46px;
    border-radius: 5px;
    background-color: transparent !important;
    border: 1px solid rgba(47, 47, 47, 0.25);
    color: rgba(47, 47, 47, 0.5);
    font-weight: bold;
    margin: 4px 1%;
    width: 22.5%;
    padding: 0;
}

form.postAJob .typeOfJob a.active {
    background-color: #6ea6ac !important;
    font-weight: bold;
    color: white;
    border: none
}

form.postAJob .typeOfJob a:hover {
    box-shadow: none;
    background-color: #c1d3d2 !important;
    color: rgba(47, 47, 47, 0.5);
    border-color: #C1D3D2
}

form.postAJob .app_by a {
    height: 46px;
    border-radius: 5px;
    background-color: transparent !important;
    border: 1px solid rgba(47, 47, 47, 0.25);
    color: rgba(47, 47, 47, 0.5);
    font-weight: bold;
    margin: 4px 5px;
    width: 30%;
    padding: 0;
}

form.postAJob .app_by a.active {
    background-color: #6ea6ac !important;
    font-weight: bold;
    color: white;
    border: none
}

form.postAJob .app_by a:hover {
    box-shadow: none;
    background-color: #c1d3d2 !important;
    color: rgba(47, 47, 47, 0.5);
    border-color: #C1D3D2
}

form.postAJob .post-job-actions a {
    max-width: 232px;
    width: 47.5%;
    margin: 0 1%;
    padding: 0;
}
/* --- end Post Job --- */



.nav-wrapper .checkout_steps {
    margin-right: 15px
}

.nav-wrapper .checkout_steps li strong {
    font-weight: 800
}

.nav-wrapper .checkout_steps li {
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 28px;
    padding: 0 10px;
    margin-top: 16px;
    margin-right: 10px;
}

.nav-wrapper .checkout_steps li a {
    padding: 0;
}

.nav-wrapper .checkout_steps li.active {
    background-color: #f3eee9;
    padding: 0 10px;
    width: 106px;
    border-radius: 20px;
}

.nav-wrapper .checkout_steps li.active a {
    color: black
}

.container.checkout h1 {
    text-align: center;
    font-weight: 600;
    font-size: 62px;
    margin: 0;
    padding: 0;
}

.container.checkout p {
    font-size: 31px;
    color: #2f2f2f;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

.container.checkout .card {
    padding: 65px 47px
}

.container.checkout .card .left {
    width: 415px;
}

.container.checkout .card .left h1 {
    font-size: 31px;
    color: #6ea6ac;
    font-weight: 500;
    text-align: left;
    line-height: 31px;
}

.container.checkout .card .left p {
    text-align: left;
    font-size: 18px;
    color: #9e9389;
}

.container.checkout .card .right .price {
    font-size: 40px;
    font-weight: 700;
    color: #9e9389;
}

.container.checkout .card hr {
    clear: both;
    border: 1px solid #f3eee9;
}

.container.checkout .card p.description span.red {
    color: red;
    font-weight: 700;
    background-color: transparent !important
}

.container.checkout .card p.description {
    color: #a5a09b;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 20px
}

.container.checkout .card .price_featured {
    color: #9e9389;
    font-weight: 700;
    font-size: 40px
}

.container.checkout .card .btn.active {
    background-color: #6ea6ac;
    color: white;
    border: 1px solid #6ea6ac
}

.container.checkout .card .btn {
    background-color: transparent;
    border: 1px solid #9e9389;
    color: #9e9389;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
    font-size: 18px
}

.container.checkout .card .disccount_added {
    color: #9e9389;
    font-size: 25px;
    font-weight: 200;
    text-align: left
}

.container.checkout .card .disccount_added .disccount_code {
    color: #6ea6ac
}

.container.checkout .card .disccount_added .right {
    color: #d0373d;
    font-size: 30px;
    font-weight: 700
}

.container.checkout .card a.helper {
    color: #a5a09b;
    margin-left: 6px;
    font-size: 24px;
}

.container.checkout .card .btn.redeem {
    padding: 0 40px;
    margin: 15px 0
}

.container.checkout .card .right.total {
    color: #9e9389;
    font-size: 20px;
    font-weight: 300;
}

.container.checkout .card .right.total .price_final {
    font-size: 40px;
    color: #6ea6ac;
    font-weight: 700;
}

.container.checkout .card [type="checkbox"]:checked + label {
    color: red
}

.container.checkout .card [type="checkbox"]:checked + label:before {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.container.checkout .card select {
    margin: 10px 0
}

.container.checkout .new_card input.error{
    border-bottom:1px solid red
}

.container.checkout_success .firstCol {
    margin-top: 90px
}

.container.checkout_success .firstCol h1 {
    font-size: 63px;
    color: #2f2f2f;
    font-weight: 500;
    margin: 0;
    padding: 0
}

.container.checkout_success .firstCol h2 {
    font-size: 31px;
    color: #2f2f2f;
    font-weight: 200;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 31px;
}



.container.selectPlan h1{text-align: center; font-weight: 600;font-size: 62px;margin: 0; padding: 0;}
.container.selectPlan p{font-size: 31px; color: #2f2f2f; font-weight: 200; text-align: center; margin: 0;}
.container.selectPlan .card{height:494px; width:100%}
.container.selectPlan .card .title{width:100%; background-color:#24959d; padding:10px; text-align:center; margin-bottom:20px}
.container.selectPlan .card .title h2{color:white; font-size:25px; text-align: center}
.container.selectPlan .card p{font-size: 15px; color: #2f2f2f; font-weight: 200; text-align: center; margin: 0; height:60%}
.container.selectPlan .card a.btn{position:relative; bottom:10px; margin:0 auto; width: 70%; display: block;}
.container.checkout .post_amount{float:right}
.container.checkout .post_amount a{border: none !important; box-shadow: none; margin: 0; padding: 0; width: 31px;}
.container.checkout .post_amount input{width: 70px; color:#54514F; height: auto; font-size: 40px; text-align: center; border: none; margin: 0 10px; vertical-align: middle; padding: 0;}
.container.checkout .post_amount input:focus{border:none; box-shadow:none}

.container.pages h1 {
    margin: 0;
    padding: 0
}

.container.pages hr {
    margin: 0
}

.container.pages p strong {
    font-weight: bold
}

/* -- Tiny MCE -- */
.the-candidate ul, .job-content ul{list-style:inherit !important; padding: 0 0 0 50px !important; margin:inherit !important}
.the-candidate li, .job-content li{list-style:inherit !important; }
.the-candidate p, .job-content p{font-size:inherit !important; font-weight:inherit !important; color:inherit !important}


.mce-panel{border:none !important;}
.mce-toolbar-grp{
    z-index: 20 !important;
    position: absolute !important;
    border: 1px solid #b6b4b2 !important;
    border-radius: 12px !important;
    padding: 8px !important;
    bottom: 0 !important;
    background-color:#fcfbfa !important;
}
.mce-btn{
    border:none !important;
    background-color:transparent !important
}
.mce-btn.mce-active .mce-ico, .mce-btn.mce-active:hover .mce-ico{
    color:#515151 !important
}
.mce-ico{
    color: #848484 !important;
    font-size: 13px !important;
}
.mce-btn button{
    padding: 4px 6px !important;
}

/* -- end Tiny MCE -- */

/* --- Footer --- */
footer {
    position: relative;
}

footer .container {
    margin-bottom: 57px;
}

footer .container .row {
    background-color: #ece2d8;
    border-radius: 5px;
    padding: 23px 20px 15px;
    margin: 0;
}

footer .container .row a {
    text-transform: uppercase;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 300;
}

footer .container .row a:after {
    content: '\00a0\00a0·\00a0\00a0'
}

footer .container .row a:last-child:after {
    content: ''
}
/* --- end Footer --- */


.autocomplete-suggestions {
    background: #f6f4f0;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #cccccc;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}


/* --- Main Nav --- */
#main-nav a.user-avatar img{vertical-align: middle;height: 43px; width:43px; float:left;}
#main-nav a.user-avatar hgroup{float: left; width: 70%; margin-left: 20px;}
#main-nav a.user-avatar hgroup h1{font-size: 25px; margin: 0; line-height: 31px; padding: 0;}
#main-nav a.user-avatar hgroup h2{font-size: 13px; font-weight: 200; margin: 0; padding: 0; line-height: 11px;}


#main-nav a.btn_logout{position: absolute; z-index: 30; font-size: 18px !important; top: 17px;  opacity: 0.3; right: -1px;}
#main-nav a.btn_logout:hover i{color:red}
#main-nav a.btn_logout i{color:white}

.mm-menu {
    width: 291px !important;
}
html.mm-right.mm-opening .mm-slideout {
    /*-webkit-transform: translate(-291px, 0) !important;
    -moz-transform: translate(-291px, 0) !important;
    -ms-transform: translate(-291px, 0) !important;
    -o-transform: translate(-291px, 0) !important;
    transform: translate(-291px, 0) !important;*/
}
#main-nav {
    background: #2f2f2f;
    z-index:200;
}

#main-nav .mm-listview a {
    color: white;
    font-size: 17px;
    background: transparent;
}

#main-nav .mm-listview > li:first-of-type {
    border-top: 1px solid #2A2A2A;
}

#main-nav .mm-listview,
#main-nav .mm-listview > li {
    padding: 3px 0;
}

#main-nav .mm-listview > li:hover {
    background-color: #6ea6ac
}

#main-nav .mm-listview > li:hover > a i {
    color: white
}

#main-nav .mm-listview .mm-next:after {
    content: '+';
    transform: none;
    -webkit-transform: none;
    border: 0;
    line-height: 5px;
    font-size: 16px;
    width: 14px;
    height: 14px;
    font-weight: bold;
    text-align: center;
}

#main-nav .mm-listview .mm-next:before {
    display: none;
}

#main-nav .mm-listview > li.mm-opened {
    background-color: #363636
}

#main-nav .mm-listview .mm-opened .mm-panel {
    margin: 0;
    padding: 0
}

#main-nav .mm-listview .mm-opened .mm-panel .mm-listview {
    margin: 0;
    padding: 0
}

#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li {
    height: 35px;
    background-color: #363636;
}

#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li a {
    line-height: 30px;
    padding: 0px 0px 0px 50px;
    margin: 0px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 200
}

#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li:after {
    border: none
}

#main-nav .mm-listview .mm-opened .mm-panel .mm-listview li:hover {
    background-color: #3d3d3d
}

.mm-listview > li > a,
.mm-listview > li > span {
    margin: 10px 0;
    font-weight: 300;
}

.mm-listview > li:not(.mm-divider):after {
    left: 0
}

.mm-listview a i {
    padding-right: 10px;
    color: #6ea6ac;
}
/* --- end Main Nav --- */


@media only screen and (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width:1200px) {
    .card.medium {
        height: 445px;
    }

    .card.medium .bottom-content .card-actions ul li a {
        width: 45px;
        height: 45px;
        font-size: 23px;
        line-height: 45px;
    }

    .card.medium .bottom-content .card-actions ul li {
        display: inline-block;
    }

    .card.module {
        padding: 40px 30px 50px
    }

    .container .register p {
        margin: 9px 0;
        font-size: 15px;
    }

    .container .register ul li {
        font-size: 15px;
        margin: 0;
    }

    .container .register ul {
        margin-top: 15px;
    }

    header .filter-box form {
        /*width: 55%;*/
    }

    header ul li .head-nav {
        margin-right: 20px;
    }

    .filter-box form input {
        /*width: 33.17%;*/
        width:30%
    }
}

@media only screen and (min-width:1100px) {
    section.full-page [class*="full-page-col-"] {
        max-width: 339px;
    }
    .filter-box form input {
        /*width: 33.17%;*/
        width:30%
    }
}

@media only screen and (max-width:1000px) {
    header.mini,
    header.mini2,
    header.mini3 {
        height: 150px;
    }



    header .filter-box form {
        width: 100%;
    }

    header ul.header_buttons{
        /*margin: -50px auto;*/
        width: 100%;
        text-align: center;
    }
    header ul.header_buttons li{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card.module.login-form .social-netwroks a {
        width: 45px !important;
        height: 35px;
        line-height: 35px;
    }

    .card.module {
        padding: 20px;
    }

    .card.big .job-content, 
    .card.big .the-candidate, 
    .card.big .the-company {
        padding: 20px;
    }

    .card.big .job-content h2, 
    .card.big .the-candidate h2, 
    .card.big .the-company h2 {
        margin: 0;
        font-size: 24px;
        line-height: 26px

    }

    .card.big .company-description .card-top {
        width: 100%;
        padding: 20px 100px 0 20px;
    }

    .card.big .company-description .card-top h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .card.big .company-description .company-logo img {
        width: 80px;
        height: 80px;
    }

    .card.big .company-description .company-logo {
        right: 10px;
        top: 75px;
    }

    .card.big .company-description {
        max-height: none;
    }

    .card.medium {
        height: 390px;
    }

    .card.medium .top-content {
        height: 50%
    }

    .card.medium .top-content h2 {
        font-size: 18px;
        line-height: 18px;
        margin: 7px 0 0 0
    }

    .card.medium .top-content h3 {
        font-size: 14px;
        line-height: 14px
    }

    .card.medium .top-content .location {
        margin-bottom: 4px;
    }

    .card.medium .bottom-content {
        font-size: 13px;
        line-height: 17px
    }

    header .user-nav ul li a {
        line-height: 60px;
    }

    section.full-page {
        padding: 60px 0;
        height: auto;
    }

    section.full-page .header {
        margin-bottom: 20px;
    }

    header h1 {
        padding: 0 20px;
    }

    nav .brand-logo {
        left: 67px;
    }

    section.full-page [class*="full-page-col-"] .social-netwroks a,
    .social-netwroks a {
        margin: 0 5px;
        float: none !important;
    }

    section.full-page [class*="full-page-col-"] button, 
    section.full-page [class*="full-page-col-"] a.btn {
        position: relative;
        width: 100%;
        bottom: 0;
    }

    section.full-page [class*="full-page-col-"] > div {
        height: auto;
    }

    header nav.header-nav ul li {
        padding: 0 5px 0 0;
    }

    header.mini .filter-box form {
        max-width: 100%;
        margin: 0 !important;
    }

    section.search-results .search-actions a {
        margin-left: 0;
        margin-right: 6px;
        float: left;
    }


    .filter-box form{
        padding-right:0
    }
    .filter-box form input {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    .filter-box form a{
        display:none !important
    }


    .filter-box {
        padding: 20px 10px;
        height: 81px
    }

    .filter-box form select{
        display:none !important
    }
    .filter-box form h3{
        display:none
    }
    .filter-box form .input-data{
        display:none
    }

    header.mini .filter-box form,
    header.mini2 .filter-box form,
    header.mini3 .filter-box form{
        margin:0 auto;
        width:100%
    }

    header .filter-box form {
        margin: 0;
    }

    header .filter-box {
        width: 100%;
        margin: 0;
        z-index: 0;
        padding: 20px 20px;
    }

    section.search-results .search-term h1 {
        line-height: 25px;
    }

    form.postAJob input.big-input.half {
        width: 100%;
    }

    form.postAJob .box.add-image {
        padding-bottom: 80px !important;
        position: relative;
    }

    form.postAJob .box.add-image p {
        margin-top: 10px;
    }

    form.postAJob .box .fileInput p {
        width: auto;
        position: absolute;
    }

    form.postAJob .box .fileInput a {
        position: absolute;
        right: 20px;
        bottom: 0;
        top: 260px;
    }

    header .user-nav {
        right: 206px;
    }

    section.profile .user-name:hover + .user-menu, 
    section.company_profile .user-name:hover + .user-menu,
    section.profile .user-menu:hover, 
    section.company_profile .user-menu:hover {
        display: block;
    }

    section.profile .user-menu, 
    section.company_profile .user-menu {
        display: none;
        position: absolute;
        top: 63px;
        z-index: 50;
    }

    section.profile .user-name, 
    section.company_profile .user-name {
        display: inline-block;    
        min-width: 300px;
        position: relative;
    }

    section.profile .user-name h1, 
    section.company_profile .user-name h1 {
        width: auto;
        max-width: none;
    }

    section.profile .user-menu ul li, 
    section.company_profile .user-menu ul li {
        width: 238px;
        height: 57px;
        background-color: white;
        padding: 15px;
        line-height: 30px;
        margin: 2px 0;
        float: none;
    }

    section.profile .user-menu ul li a, 
    section.company_profile .user-menu ul li a {
        color: #918e8c;
        font-size: 17px;
        font-weight: 200;
    }

    section.profile .user-menu ul li:first-child, 
    section.company_profile .user-menu ul li:first-child {
        border-radius: 5px 5px 0 0;
        border: 0;
        position: relative;
    }

    section.profile .user-menu ul li:last-child, 
    section.company_profile .user-menu ul li:last-child {
        border-radius: 0 0 5px 5px;
    }

    section.profile .user-menu ul li:hover, 
    section.company_profile .user-menu ul li:hover {
        background-color: #6ea6ac;
    }

    section.profile .user-menu ul li:hover a, 
    section.company_profile .user-menu ul li:hover a {
        color: #fff;
    }

    section.profile .user-menu ul li:first-child:after, 
    section.company_profile .user-menu ul li:first-child:after {
        bottom: 100%;
        left: 40px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 7px;
        margin-left: -10px;
    }

    section.profile .user-menu ul li:first-child:hover:after, 
    section.company_profile .user-menu ul li:first-child:hover:after {
        border-color: rgba(110, 166, 172, 0);
        border-bottom-color: #6ea6ac;
    }

    form.postAJob input::-webkit-input-placeholder,
    form.postAJob input:-moz-placeholder,
    form.postAJob input::-moz-placeholder,
    form.postAJob input:-ms-input-placeholder {
        font-size: 18px;
        line-height: 22px;
    }
}

@media only screen and (max-width:992px){
    .card.login-form .buttons {
        width: 90%;
        margin: 0 auto;
    }
    .container .card.login-form a.btn.linkedin{
        width:25%;
        margin-left:0;
        padding:0;
    }
    .container .card.login-form form button{
        width:74%;
        margin:0;
    }
}

@media only screen and (max-width:730px) {
    .row .col.sm6 {
        width: 50%;
        margin-left: 0;
    }

    section.contact form {
        margin: 30px 0 0 !important;
    }

    section.contact button.btn.blue {
        max-width: 100%;
    }

    header ul li .head-nav {
        margin-right: 10px;
    }

    header ul li .head-nav:after{
        content: '';
    }

    header ul.header_buttons{
        /*margin: -50px auto;*/
        width: 100%;
        text-align: center;
    }
    header ul.header_buttons li{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer .container {
        margin-bottom: 27px;
    }

    footer .col {
        width: 100%;
        text-align: left;
        margin: 5px 0;
    }

    .hide-phone {
        display: none;
    }

    .show-phone {
        display: block;
    }

    header .user-nav {
        right: 84px;
    }

    section.search-results .search-term h1 {
        font-size: 25px;
    }

    form.postAJob .typeOfJob a {
        width: 47.5%;
    }

    form.postAJob .row.categories a {
        width: 99%;
    }

    form.postAJob .box {
        padding: 20px !important;
    }

    form.postAJob .box.job-location a {
        margin: 4px 0;
    }

    form.postAJob .valign-wrapper {
        display: block;
    }

    form.postAJob .app_by a {
        position: absolute;
        top: 62px;
        margin: 0;
    }

    form.postAJob .app_by a:last-of-type {
        left: 41%;
    }

    form.postAJob .app_by input {
        margin-top: 66px;
    }

    form.postAJob .box .fileInput p {
        width: auto;
        display: block;
        margin: 10px 0;
        position: relative;
    }

    form.postAJob input.big-input {
        height: 40px;
        padding: 10px 0 10px 15px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    form.postAJob input.big-input:focus {
        height: 40px;
    }

}
@media only screen and (max-width:500px) {
    .row .col.xs12 {
        width: 100%;
    }

    header h1 {
        font-size: 20px;
        line-height: 40px;
    }

    header ul.header_buttons{
        /*margin: -66px auto;*/
        width: 100%;
        text-align: center;
    }
    header ul.header_buttons li{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }


    .filter-box form input {
        width: 100%;
    }

    .filter-box form a{
        display:none
    }

    .filter-box form select{
        display:none
    }



    section.full-page [class*="full-page-col-"] .social-netwroks a,
    .social-netwroks a {
        width: 50px !important;
    }

    section.register.success [class*="full-page-col-"] a.btn {
        font-size: 13px;
        padding-left: 10px;
    }

    form.postAJob .box.add-image {
        padding-bottom: 120px !important;
    }

    form.postAJob .typeOfJob a {
        width: 97.5%;
    }
}